<% provide(:title, 'Our Mission to Introduce All Kids to Engineering: 2025 Labs') %>
<% provide(:description, 'Our mission is to give all kids, regardless of ethnicity, gender or socioeconomic background, the opportunity to become creators, not just consumers, of great technology.') %>

<div class="row-fluid">
	<div class="span3">
		<%= image_tag("pics/boyoncomputercardboardbridge.png", :alt => "boy playing with robot", :class =>'rounded') %> 
		<br><br>
		<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/aEmDIBJqK4U" frameborder="0" allowfullscreen=""></iframe></div>
	</div>
	
	<div class="span6">
		<h2>About Us</h2>
		<h4>About</h4>
		<span class="colortxt">We founded 2025 Labs to introduce more kids to Engineering and Computer Science.</span> Our mission is to bring technology literacy to all kids and inspire a more diverse next generation of technology creators.
		</br>
		</br>
		<span class="colortxt"> Why Engineering and Computer Science?</span> According to the <%= link_to "Wall Street Journal",   research_path %>, eight of the top 10 highest paying college degrees in 2013 are Engineering or Computer Science, making them great pathways for high-potential young people to secure their economic future as adults. We see Engineering and Computer Science as a Pathway to a Better Future. 
		</br>
		</br>
		<span class="colortxt">Why "all" kids?</span>  Most kids aren't exposed to engineering. Stereotypes of engineers don't include role models for girls and some minority groups. Moreover, young people from lower socioeconomic strata&#8212of any gender or color&#8212are significantly underrepresented in engineering. Sadly, these are the kids that need these opportunities most.  A key finding from a <%= link_to "2011 Intel study",   research_path %> indicates that "(e)xposure to any content about engineering dramatically increases the number of teens, both male and female, who say they would consider a career in engineering."
		</br>
		</br>
		<span class="colortxt">Not everyone can afford $1,000-a-week summer camps!</span> Like a lot of parents, we've looked around at the products on the market to help us get our kids engaged in engineering, to help give them skills to enable them to become part of the future technology workforce. If you don't have an engineering background, figuring out how to expose your child to engineering is a daunting task. Some families can afford $1,000-a-week summer camps&#8212most can't.
		</br>
		</br>
	We don't expect every kid to become an engineer, but we tend to think the odds are against kids making that choice if they've never had the opportunity to practice engineering. Our goal is show kids that engineering is fun, and we want them to think of themselves as kids who "like engineering". 
		</br>
		</br>
		<h4>Meet the Team</h4>
		<h5 span class="names"><a href="http://www.linkedin.com/in/melissaliu" target="_blank">Melissa Liu</a> - Founder and CEO</span></h5>
  		Melissa has an Engineering degree and an MBA. She has been a long-time consultant and business owner, and previously spent a decade in engineering functions in the Software industry. Melissa learned to program in high school&#8212and helped pay for college with software internships&#8212before starting her engineering career. She grew up in a high-stress, financially-strapped environment, raised by a single mom who struggled to find a career that would provide for her family. Melissa was able to attend college through the help of scholarships, grants, and work, and without that opportunity, would not have been able to improve her own circumstances. Having achieved her own success and financial stability after a disadvantaged upbringing, she would now like to turn around and help others like her achieve the same.</p>

		<h5 span class="names">Holly Garcia</a> - At-Large Film Editor</span></h5>
		Holly Garcia is a student at San Jose State University currently studying film. In the past she has worked for OMG Media, a production company in Monterey owned by Dan Green from KSBW Channel 8 News. Her experience at OMG not only included filming local events, but also editing video news releases (vnrs), montage sequences, and bits for Lifeline TV, a show that features doctors from Salinas Valley Memorial Hospital (SVMH) and gives patients a chance to tell their stories. She has filmed and edited pieces for Gilroy Garlic Festival, Concours D'elegance, Big Sur International Marathon, and KSBW news. She now works at 2025 Labs, helping kids learn about engineering using keyframe animation among other techniques.
		</p>
		
		<h5 span class="names">Eron Lake</a> - Game Designer</span></h5>
		Eron is working on his Computer Science and Game Design majors at the University of California, Santa Cruz (UCSC). He joins us as a Game Design Intern for the summer, and is an at-large Game Design contributor during the school year. Past accolades for Eron include multiple awards at the UCSC Hackathon.
		
		<h5 span class="names"><a href="http://www.linkedin.com/in/erinwinick" target="_blank">Erin Winick</a> - At-Large Engineering Content Contributor</span></h5>
  		Erin is currently an undergraduate Mechanical Engineering student at the University of Florida (UF).  She is the president of the Society of Women Engineers chapter at UF and is passionate about STEM outreach. Growing up the daughter of two non-engineers, Erin did not really know what engineers did.  She just knew she loved to build and make things. It was not until high school that Erin found out engineering was the field that fit her skills and passion for creativity.  Erin is passionate about making society more aware of what engineers really do and increasing diversity in the field of engineering. Erin has interned at Solar Turbines: A Caterpillar Company in San Diego, CA and Bracken Engineering in Tampa, FL.
		</p>

		<h5 span class="names">Tanera van Diggelen - Contributing Materials Engineering and Tech Writer</span></h5>
  		Tanera is a Freshman at UCLA. For the last four years, Tanera van Diggelen has worked at elementary and middle school outreach programs. As the Chair of Impromptu Speaking for Leland Speech and Debate, Tanera helped students develop their public speaking and leadership skills. She is a pre-med student at UCLA, with a Psychobiology major and math minor. Tanera is passionate about math, medicine, and working with children. As part of 2025 Labs, she hopes to teach kids that engineers can make an impactful difference in the world.
		</p>

		<h5 span class="names">Annaclare Splettstoeszer</span></h5>
  		Annaclare is a young person - not yet in college even! - who knows an incredible amount about computer architecture. She has contributed her deep computing knowledge to some of the Computing content for us. </p>
					
		<h5 span class="names">Ellen Hardy</span></h5>
  		Ellen was an early founder and contributed to the creation of our web site, among other things. She contributed her many years of educational publishing experience and helped us get a strong start.</p>
		
	</div> <!--span6-->	

	<div class="span3">
		<div class="row-fluid">
			<br><br>
			<div class="facts"><a class="facts1" <%= link_to "50%",    research_path %></a></div>
			<br>
			50% of the 20 woman CEOs in Fortune 500 companies have STEM degrees.
			<hr>
         </div> <!--row-->

		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
		
		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->
		
     </div>	<!--row span3-->
</div><!--row-fluid-->
