<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12">
				<h2>Gender Diversity Dashboard</h2>
		<p>We have pulled together a few recent pieces of data to look at the state of diversity in engineering. This "diversity in pictures" dashboard is specific to gender diversity. You can also look at our <%= link_to "Race/Ethnicity Diversity Dashboard",   rdashboard_path %>  in Engineering and entrepreneurship, and don't forget to visit our main  <%= link_to "Research",   research_path %> page as well!

			</div>
			<div class="col-sm-12">
			</div>
		</div>
		<div class="dashboardbkgd">

			<div class="row">
				<div class="col-sm-2">
			
				<%= image_tag("Data_Dashboard/neutralarrow.png") %>
					
					
					
					One leading indicator of the pipeline of potential women engineers is the number of girls taking AP tests in computer science. The absolute number of AP test takers of both genders is up, but proportion of female test takers is flat over the past 15 years at around 20%.
				</div>

		<div class="col-sm-5">
			<%= image_tag("Data_Dashboard/APCSTestTakers3.png") %>
			
		</div>
	

		<div class="col-sm-5">
			<%= image_tag("Data_Dashboard/APCSTestTackersPercent.png") %>
			<p><p>Source: College Board (2013)
		</div>
		
	</div>
</div>
<hr>


<div class="row">
	<div class="col-sm-2">
		<%= image_tag("Data_Dashboard/downarrow.png") %>
		
		A second indicator of the pipeline is the number of female engineering graduates, which has slipped from 21% in 2003 to just 18% in 2010. However, the proportion of women doctoral candidates in Engineering and tenure-track faculty is rising, potentially indicating that the women that do pursue Engineering disciplines are also more likely to pursue further academic accomplishment
		
	</div>
	
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-6">
				<%= image_tag("Data_Dashboard/BSAllEngineering.png") %>
			</div>
	
			<div class="col-sm-6">
				<%= image_tag("Data_Dashboard/MastersEngineering.png") %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<hr>				
			</div> <!--col-sm-12-->
		</div> <!--row-->
	
		<div class="row">
			<div class="col-sm-6">
				<%= image_tag("Data_Dashboard/DoctoralEngineering.png") %>
			</div>
	
			<div class="col-sm-6">
				<%= image_tag("Data_Dashboard/EngineeringFaculty.png") %>
				<p><p>Source: American Society for Engineering Education (ASEE) (2011)
			</div>
		</div>
	</div>
</div>


<hr>

<div class="dashboardbkgd">
<div class="row">
	<div class="col-sm-2">
		<%= image_tag("Data_Dashboard/21uparrow.png") %>
		Looking past the pipeline to how women are succeeding as engineers, we looked at how women are doing in both receiving and giving angel funding. 
		The proportion of woman-led businesses seeking funding is small, but their rate of being funded is actually somewhat higher than non-woman-led ventures. 
		The proportion of female angel investors is rising, although still quite low at 21.8%.
		
	</div>

	<div class="col-sm-5">
		<%= image_tag("Data_Dashboard/AngelFunding.png") %>
	</div>
	
	
	<div class="col-sm-5">
	<%= image_tag("Data_Dashboard/FemaleAngelInvestors.png") %>
	<p><p>Source: Center for Venture Research (2013)
	</div>
</div>
</div>

<hr>


<div class="row">
	<div class="col-sm-2">
		<%= image_tag("Data_Dashboard/18uparrow.png") %>
		We also looked at patents. Women hold a small proportion of the pool of existing patents. However, based on patent applications newly approved per year, it is clear that women are increasingly receiving patents. While they only hold 5.5% of all existing commercial patents, women received 18% of patents approved in 2010, double the portion that they received in 1990.	
	</div>

	<div class="col-sm-5">
		<%= image_tag("Data_Dashboard/PatentPieCharts.png") %>
	</div>
	
	<div class="col-sm-5">
		<%= image_tag("Data_Dashboard/PatentsPerYear.png") %>
		<p><p>Source: National Women's Business Council (2012)
	</div>
</div>
<hr>

<div class="dashboardbkgd">	
<div class="row">
	<div class="col-sm-2">
		<%= image_tag("Data_Dashboard/4pt6pct.png") %>
		Finally, we looked at the composition of Fortune 500 CEOs, to see how it compares to overall US demographics. 
	</div>

	<div class="col-sm-5">
		<%= image_tag("Data_Dashboard/USCensusGender.png") %>
	</div>

	
	<div class="col-sm-5">
	<%= image_tag("Data_Dashboard/F500Gender.png") %>
	<p><p><p><p><div class="dashboardfootnote">Source: Diversity Inc. (2014)</div>
	</div>
</div>
</div>

</div>

</div>


