<% provide(:title, 'Introducing Engineering and Energy to Kids: 2025 Labs') %>
<% provide(:description, 'There is no Engineering without Energy. This section covers energy distribution, consumption, and conversion starting with a historical perspective on energy sources.') %>


<div class="row-fluid">

	<div class="span2">
		<%= render "contentnav" %>
	</div> <!-- span2 -->

	<div class="span8">
		<div class="row-fluid">
		
				<%= image_tag("pics/entag.png", :alt => "Energy Icon", :class => "iconleft") %>
				<h2>&#011;  Energy</h2>
				
					<div class="row-fluid">
						<div class="span3">
							<div class="mainideas">
								<div class="mainideasheader">
									Main Ideas
								</div> <!-- main idea header close -->
								<br>
								<a class="mainideastopic" <%= link_to "There is no Engineering without Energy", :anchor => "Energy" %></a>								
								<br><br>
								<a class="mainideastopic"<%= link_to "There are a variety of Energy Sources that can power our modern world", :anchor => "Sources" %></a>
								<br><br>
								<a class="mainideastopic"<%= link_to "Energy is often harnessed at a different time and place than it is use", :anchor => "Harnessed" %></a>
								<br><br>
								<a class="mainideastopic"<%= link_to "The Electricity Grid distributes energy from its sources to consumption, and matches supply to demand", :anchor => "Grid" %></a>
								<br><br>
								<a class="mainideastopic"<%= link_to "Energy can be stored for future use to help match supply with demand and prevent brownouts and blackouts", :anchor => "Stored" %></a>
								<br><br>
								<a class="mainideastopic"<%= link_to "Energy Conversion takes energy from one form to another (and sometimes back again)", :anchor => "Conversion" %></a>
								<br><br>
								<a class="mainideastopic"<%= link_to "Summary", :anchor => "Summary" %></a>
								<br><br>
							</div> <!-- main ideas section close -->
						</div> <!-- span 3 for main ideas close -->
						
				<div class="span9">
				<h5><a id="Energy"><span class="sectionheader">There is no Engineering without Energy</span></a></h5>
				In order to power the technology in our daily lives, we harness it from a variety of sources (fossil fuels, wind, etc.), move it to where we need it (think of the power lines you see everywhere), potentially store it for later use (like in a battery or as potential energy in a hydroelectric dam), and then consume it. This section covers each part of the energy life cycle, but first it's important to get an historical perspective on energy sources.
				<p><p>
				As we mentioned in the <%= link_to "machines",   machines_path %> section, prior to the Industrial Revolution, people had access to only four sources of energy&#151;water, wind, people and animals&#151;to power their machines. They harnessed the power of running water in rivers by using water wheels to turn turbines to mill flour for bread. They harnessed the power of the wind using windmills. They used the power of people or animals to row boats, turn wheels, and lift heavy items. 
				<p><p>
				That all changed in 1781, when James Watt's steam engine ushered in the Industrial Revolution. New machines that were powered initially by burning coal and eventually other fossil fuels such as gas changed the face of the industrialized world. In 1880, Thomas Edison patented the first commercially viable lightbulb, marking the beginning of widespread use of electricity as a power source. It's important to note that these inventors weren't the only or even the first people working with steam and electricity. However, they were the first to produce viable  products using these power sources, which led their widespread adoption. By the 1920's, power companies started working together to create what we call the electricity grid: the power source for our lights, heat, air conditioning, televisions, microwave ovens, and the computer you are using to read this web page. 
	  		<!--</div>-->
		<!--</div>-->							

		<div class="row-fluid">
			<div class="span6">
				<h5><a id="Sources"><span class="sectionheader">There are a variety of <span class="shkeyword">Energy Sources</span> that can power our modern world</span></a></h5>
				There are a variety of ways that we generate energy to fuel our modern world, many of which we've been using for hundreds or thousands of years. Some of these are considered renewable, like wind and sunlight, which means that we are not in danger of running out of them. Some of these are being consumed faster than they are being created, such as coal, which means that we will some day run out of that energy source. The sections below highlight some of the key sources of energy used to power our world.	
				<p><p>
			</div>
	
			<div class="span6">
				<%= image_tag("pics/callout_renewables.png", :alt => "Renewable Energy by Country", :class => 'picpadding') %> 
			</div> <!--span6-->	
		</div> <!-- row -->	

		<div class="row-fluid">
			<div class="span3"> 
				<%= image_tag("pics/solar.png", :alt => "solar panels") %>
			</div> <!--span 3-->
		
			<div class="span9">
				<b>Solar Power</b> uses the power of the sun's light to create electricity.  There are a few different ways that electricity can be converted from solar radiation. Currently, the most common method uses solar panels that consist of solar cells made from semiconductor materials, such as silicon. Solar cells are photoelectric, which means that when light shines on it, the cells generate an electric current. The generated electricity can then be consumed at the point of generation, such as a solar-powered house or devices like the Mars Rover. Alternatively, the energy generated can be transmitted to the electricity grid.
				<p><p>
			</div> <!--span9-->		
		</div> <!-- row of 7 subdivided into 9 and 3-->		

		<div class="row-fluid">
			<div class="span9">
				<b>Fossil Fuels: Coal, Petroleum, and Natural Gas</b> Fossil Fuels take their name from the fact that they are formed from the decayed remains of plants and animals from millions of years ago that are buried in the ground. Because it takes millions of years to create them, we consume them much more rapidly than they are renewed, and they are therefore considered &#34;non-renewable&#34; sources of energy. However, they are renewing constantly&#151;just not at anywhere near the rate they are consumed. 
				<p><p>
			</div> <!--span9-->		

			<div class="span3">
				<%= image_tag("pics/Factory-smoke.png", :alt => "factory smoke consuming fossil fuels") %>
			</div> <!--span 3-->
		</div> <!-- row of 7 divided into 9 and 3 -->
	
		<div class="row-fluid">
			<div class="span12">
				We extract energy from fossil fuels by burning them in coal plants, in car engines, etc. This burning creates pollution and contributes to global warming. In some cases, the mining or drilling process can also create great ecological damage. For example, the Deepwater Horizon (BP) oil spill in the Gulf of Mexico in 2010 discharged close to five million barrels of oil into the Gulf of Mexico, after spilling oil into the gulf for 87 days and causing immense damage to marine and coastal wildlife habitats. In 2011, Chevron and driller Transocean were responsible for  a spill off the coast of Rio de Janeiro in Brazil, with 155,000 gallons of crude oil spilled into coastal waters. In addition, <a href="http://www.nap.edu/catalog.php?record_id=13355" target="_blank">research</a> is being conducted into earthquakes occurring near sites of natural gas extraction through the &#34;fracking&#34; (hydraulic fracturing) extraction process. Fracking involves drilling thousands of feet into the ground and blasting water and chemicals into the rock, in order to extract gas which may be trapped in shale rock. The US Environmental Protection Agency (EPA) is currently studying the effects of fracking, which could result in new regulations for oil and gas extraction.
				<p><p>
			</div> <!--span12-->		
		</div> <!-- row of 7 subdivided into 12 -->		

		<div class="row-fluid">
			<div class="span9">
				<b>Hydroelectric Power</b> Hydroelectric Power refers to making electricity from the power of water in motion. This power can be the result of water flowing over a man-made dam falling downward with force due to gravity. A very old-fashioned form of water as an energy source was the use of a water wheel on a river to power flour mills in pre-industrial times, going back even to the Middle Ages. Hydro Power is a renewable energy source, like solar power.
				<p><p>
			</div> <!--span9-->		

			<div class="span3"> <!-- was 2 -->
				<%= image_tag("pics/Hoover_dam_from_air.png", :alt => "Hoover Dam from the Air") %>
			</div> <!--span 3-->
		</div> <!-- row of 7 subdivided into 9 and 3-->		
	
		<div class="row-fluid">
			<div class="span9">
				<b>Biomass / BioFuels</b> Biofuels are energy sources produced from recently living organisms. These recently living organisms are referred to as &#34;biomass&#34;, and can include things like garbage, scrap wood, plants, yard waste, etc. Like fossil fuels, biofuels come from living organisms. Unlike fossil fuels, biofuels were living very recently &#151; think of the rotting banana peel in your garbage can, rather than a lump of coal that came from plants that were living on Earth millions of years ago. Corn and sugar cane can be used to make ethanol, which can be used either as a complete fuel or as a fuel additive for vehicles. Biodiesels are made from vegetable oils and animal fats, and they can also be used either as complete fuels or as additives. When either are used as additives, they also provide a side benefit of reducing harmful emissions (particulates, carbon monoxide, etc.).		
			</div> <!--span9-->		

			<div class="span3"> <!-- was 2 -->
				<br>
				<%= image_tag("pics/PoplarFuel1.png", :alt => "Trees connected to a gas pump") %>
			</div> <!--span 3-->
			
		</div> <!-- row of 7 subdivided into 9 and 3-->	

		<div class="row-fluid">
			<div class="span12">
				<p><p>
					Biogas is an energy source resulting from a breakdown of organic matter through anaerobic (without oxygen) processes. These organic matter sources can include manure, sewage, municipal waste, and others. Biogas consists principally of methane and carbon dioxide. Biogas can be used as a fuel or combusted to provide electricity or heat. It is a renewable energy source. 		
			</div> <!--span12-->		
		</div> <!-- row of 7 subdivided into 12-->	
	
		<div class="row-fluid">
			<div class="span9">
			<p><p>
			<b>Wind Farms and Windmills</b> The wind can also be used to generate electricity. The wind turns rotors on a windmill, which spins a shaft. The rotating shaft uses magnets to generate a current (a rotating magnetic field can induce a current through a process called electromagnetic induction). Windmills have been used for a very long time to harness the wind to, for example, grind wheat. Wind energy is a renewable source of energy. Because wind energy is renewable, it is considered a "green" (environmentally-friendly) form of energy. However, wind turbines have recently been implicated in the deaths of golden eagles and bald eagles. According to scientists, <a href="http://www.washingtontimes.com/news/2013/sep/11/eagle-slaughter-wind-farms-kill-67-eagles-5-years/" target="_blank">85 eagles</a> have been killed since 1997 by wind farms in 10 states. So, even eco-friendly energy sources may have environmentally-unfriendly consequences. This is similar to the situation with an electric car that may be recharged using polluting energy sources such as coal - the car may be zero-emission, but that doesn't mean that the energy used to recharge its battery was generated without creating harmful emissions.
		</div> <!--span9-->		

		<div class="span3"> <!-- was 2 -->
			<%= image_tag("pics/windfarm.png", :alt => "windfarm") %>
		</div> <!--span 3-->

		</div> <!-- row of 7 subdivided into 9 and 3-->		

		<div class="row-fluid">
			<div class="span12">
				<b>Human or Animal Mechanical Power</b> Mechanical energy produced by human (or animal) efforts can also be used to generate electricity. An example is a television that is powered by a person on a spin bicycle. In pre-industrial times, mechanical &#34;people-power&#34; or animal power was used to move boats, turn levers, etc. We still use human and animal power when it is the practical power source for the situation, such as pushing a door open or riding a bicycle.
			</div>	
		</div> 

		<div class="row-fluid">
			<div class="span12">
				<h5><a id="Harnessed"><span class="sectionheader">Energy is often harnessed at a different time and place than it is used</span></a></h5>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				Energy sourced from any of the above methods can be consumed in a few different ways. This energy usage could be at the same <i>place</i> as the generation (think of your solar panels providing the power for you to watch your television), or somewhere else (as in the energy harnessed from your solar panels when you are not home, so that the excess is contributed to the electric grid for use elsewhere). The consumption could be at the same <i>time</i> of generation (as when you hand-crank a radio to power its immediate use), or later (like when you fill your gas tank to power your car for the upcoming week). 
				<p><p>
			</div> <!-- span 12 -->
		</div> <!-- row -->

		<div class="row-fluid">
			<div class="span12">
				In the case of a gas-powered car, gasoline is placed in a car's gas tank, and then used to power the vehicle and move it. The gas is stored in the tank until it is needed, and then it is burned to power the vehicle. (The car's battery provides an additional source of power and is key to starting the vehicle. Just ask anyone who has ever been stuck trying to start a car with a dead battery!)
				<p><p>
			</div> <!-- span 12 -->
		</div> <!-- row -->

		<div class="row-fluid">
			<div class="span12">
				In the case of the variety of different energy sources used to power our electric grid, those sources generate energy, which is then transmitted, stored, and distributed to people that need it. When you turn on your garbage disposal, you have no way of knowing the source of the energy (solar, wind, etc.) or the location that it was generated (coal plant in Pennsylvania, nuclear plant in California, wind farm in Nevada). You just know that you pay the power company to provide power to your home, so that you can use the energy when you need it, for lights, household appliances, electronics, recharging your electric car overnight, and so forth.
				<p><p>
			</div> <!-- span 12 -->
		</div> <!-- row -->

	<div class="row-fluid">
		<div class="span12">
			In the case of a house with solar panels, much of the time the solar panels can fully power the house. In fact, in times where the solar panels are collecting more power than needed to power the household, the excess is often provided to the electric grid (potentially without compensation to the household generating the power for the electric company). However, at times, there is not sufficient sunlight to fully power the home using the solar panels. In that case, the house will consume power from the electric grid (and the household will be charged for the energy consumption). So, in this case, the consumption is often at the same place as generation, and could be at the same time&#151;but not always.
		</div> <!-- span 12 -->
	</div> <!-- row -->

	<div class="row-fluid">
		<div class="span12">
			<h5><a id="Grid"><span class="sectionheader">The Electricity Grid distributes energy from its sources to consumption, and matches supply to demand</span></a></h5>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span4">
			We've all seen power lines: they are used to move power from generation to distribution. The energy is moved to distribution substations, and then to consumers. How do we generate exactly the right amount of electricity to meet our energy needs? Or do we?
			<p><p>
			Energy supply fluctuates. Solar power relies on sunlight, which varies based on weather and time of day. Wind power relies on, well, wind. Power plants occasionally have issues and need to be shut down. Somewhat less often, new plants come online, or old plants get retired.
		</div> <!-- span 4 -->

		<div class="span8">
			<%= image_tag("pics/grid.png", :alt => "power grid") %>
			<br>
		</div> <!-- span 8 -->
	</div> <!-- row -->
	
	<div class="row-fluid">
		<div class="span12">
			<p><p>
			Energy demand varies as well. Energy consumption can change quite a bit based on time of day, time of year, weather, as well as normal variation independent of those factors. Businesses are often at peak demand during weekdays. Homes are often at peak demand in the late afternoon and early evening. We may turn on our air conditioners on very hot days, and our heat on very cold days.  We may use more household lighting when it gets dark earlier. When it is rainy or cold, our kids may want to stay indoors to play video games instead of going outside to play.
			<p><p>
			So, how do we make sure we supply enough energy at times of peak usage? What do we do at times of lower energy demand? There are some alternatives: 1) Not meet peak demand, resulting in power outages (blackouts) or reduced availability (brownouts); 2) Use peak power generators that are used to generate an additional amount of power during peak periods only; 3) Store the excess energy when we have more supply than demand. It turns out that we are not always perfect at matching supply with demand. When we have excess demand that we cannot meet, we ask folks to reduce their demand or else face power outages.
		</div> <!-- span 12 -->
	</div> <!-- row -->

	<div class="row-fluid">
		<div class="span12">
			<h5><a id="Stored"><span class="sectionheader">Energy can be stored for future use to help match supply with demand and prevent brownouts and blackouts</span></a></h5>
			Energy storage is an emerging hot topic, as California recently became the first state to adopt a law that requires utilities to invest in energy storage. As more energy is generated from renewable, but volatile, sources like wind and sun, it becomes more important to be able to capture excess energy generated at peak availability so that it can be used at times of less availability. On October 17, 2013, California put into force a requirement for state utilities to invest in 1.3 gigawatts of storage capacity by 2020.
			<p><p>
			There are a variety of ways that energy can be stored, and companies are exploring new ways to store energy. Electricity is generally used as it is generated; in order for electricity to be stored, it must be converted to another energy source. For example, to <i>generate</i> electricity we sometimes use the force of water spilling over a hydroelectric dam, which leverages the potential energy of gravity in the water at the top of the dam -- but did you know that we can use excess electricity to <i>pump</i> water to the top of a dam to <i>store</i> the energy for future use? According to <a href="http://en.wikipedia.org/wiki/Energy_storage" target="_blank">Wikipedia</a>, Washington and Oregon already use excess electricity to pump water to high reservoirs to capture the energy as potential energy that will re-generate electricity later at a time of higher demand. Other technologies being investigated for energy storage are flywheels and batteries. California's new energy storage mandate is likely to spur investment and investigation into optimal means for energy storage. 
			<p><p>
			<h5><a id="Conversion"><span class="sectionheader">Energy Conversion takes energy from one form to another (and sometimes back again)</span></a></h5>
			Wind is a potential source of energy, as is water at the top of a hydroelectric dam. But we do not plug our toaster into the water in the dam; we convert energy from one form to another. Think also about a battery in a hand-held game console, like a Nintendo DS. We take batteries out of a package we bought from the store, put them in the device, and then, when we turn on the device, we can get <i>electric energy</i> for our device from the batteries. 
			<p><p>We can use the force of water spilling over a hydroelectric dam to generate electricity. When you allow water to fall over the dam, the force of gravity pulls the water to the lower level of the water. But how does this result in electricity? The answer is that the water flows over turbines, and the force of the water falling turns the turbines. The mechanical energy from the rotating turbines is converted to electrical energy through a process called electromagnetic induction. The basic principle behind electromagnetic induction is that a rotating magnetic field <i>induces</i> an electric current, so that placing magnets or magnetic coils on the shaft of a turbine will induce a current when the shaft is rotated.  Wind Power uses wind to turn turbines to do the same. Nuclear Power leverages the energy released from nuclear fission; this energy release creates heat, which generates steam, which turns a steam turbine, which produces electricity by induction as well. (Did you know that Nuclear Reactors essentially generate electricity by <i>boiling water</i>?) <p><p>
			Here are a few more examples of how we convert energy from one form to another:
			<p><p>
			We can use a hand-crank to charge a battery for an all-weather hazard radio. In this case, we are using some mechanical energy as a source to convert to chemical potential energy.
			<p><p>
			We can plug in our electric car into our house's electricity system, which uses the electric power delivered to our home to store energy as chemical potential energy in our car's battery. Of course, the electricity delivered from our home could have been generated by burning coal, so that the "clean" energy of our all-electric car may actually not be that clean.
			<p><p>
			I can get on a stationary bike that generates electricity when I pedal, and I can plug in a television to it. (If we powered all of our televisions this way, it could go a long way to improve the health of modern American society!)
			<p><p>
			When you convert from one type to another, there may be some energy lost to the surrounding environment. For example, when you burn something for energy, some energy may be dissipated as light and heat in the surrounding air, and that can no longer be captured. (Think of when you run your oven, and your kitchen gets hot. On a hot day, you'd rather heat your dinner <i>without</i> heating your kitchen as well!) That drives notions of "efficiency" of various methods and continual efforts to improve efficiency.

			<h5><a id="Summary"><span class="sectionheader">Summary</span></a></h5>
			Energy is fundamental to engineering. We get energy to power the technology in our world from both renewable and nonrenewable sources. Energy can be stored for future use. The electricity grid distributes energy from diverse original sources&#151;burning coal, nuclear power plants, hydroelectric dams, etc.&#151; to consumers as electricity. We don't always know the source of the energy we are using at the time we are using it, because we get our power from the electricity grid, which harnesses energy from many sources and converts energy from various forms to other forms in the process. Thus, in this section you've learned about how we get, store, and consume energy to power our technology. Add that to your knowledge of the processes engineers use to create and maintain technology and your understanding of machines as an example of technology, and you've pretty good overview of the engineering landscape from the industrial revolution until about the 1960s. In order to get current, you need to add <%= link_to "computing",   computing_path %> to your knowledge base, which is where we turn next. 
		</div>
	</div>
	
	</div> <!--span 9 for contents-->
  </div> <!-- row definition for main content section-->
  </div> <!--span 8 for middle section -->
<!-- TO HERE -->			
</div> <!-- class of 8 subdivided into 8 and 4-->

	<div class="span2">
		<div class="row-fluid">
			
				<br><br><br>
				<i>Engineering demographics from a 2011 ASEE study:</i>
				<br>
				<%= link_to image_tag("facts/engrdemogfemale.png", :alt => "Women comprise 18 percent of Engineering undergraduate students"),   research_path %>
				<br>
				Women comprise 18 percent of Engineering undergraduate students	
				<br><br><br>
			    <hr>
			
		</div> <!-- row -->
	
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->


		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->
		
	</div> <!--span2-->	
  		
</div>	<!--row-->