<% provide(:title, 'How to Get Started in Introducing Kids to Engineering: 2025 Labs') %>
<% provide(:description, 'Parents and educators use our website to learn about key Engineering concepts and to help them find age-appropriate resources for sharing these concepts and practices with kids.') %>

<div class="row-fluid">
	<div class="span12">
		<h2>Get Started</h2>
	</div>
</div>
	
<div class="row-fluid">
	<div class="span6">
		<h4>Using This Website</h4> <p><p>This website is an Information Hub for introducing kids to Engineering. We aim to help parents and educators learn about key Engineering concepts and find age-appropriate resources for sharing these concepts and practices with kids. <p>In <%= link_to "Intro to Engineering",   intro_to_engineering_path %>, you'll find a framework of four key concepts that lay a foundation to understanding the world of Engineering. 
		<p><p>
		In <%= link_to "Resources",   resource_types_path %>, you'll find Engineering-related videos and websites, Engineering-themed toys and games, and Engineering-related camps and events. Next to each resource, we've indicated which of the key Engineering concepts it relates to in the   framework so you'll always know where each resource fits into the big picture.  <p> We hope this site helps you to give your kids a chance to practice Engineering!	
		<p><p>
			<div class="row-fluid">
				<div class="span6">
					<h4 class="blogtxt">2025 LABS Blog </h4>
					<h5>GoldieBlox, PISA, Competitiveness, and Diversity &#8212 December 2013</h5>
			Results from the international standardized testing for 15-year-olds were released, and the results were mediocre for American students. On a positive note, the much-viewed GoldieBlox video that riffed on the Beastie Boys song “Girls” created a lot of energy around offering more to girls to them to interest them in Engineering. For some thoughts on the state of competitiveness and diversity <%= link_to "read more...",   blog_path %>
				</div>
			   <div class="span6">
					<span class="colortxt">We founded 2025 Labs to introduce more kids to Engineering and Computer Science.</span> Our mission is to give all kids, regardless of ethnicity, gender or socioeconomic background, the opportunity to become creators &#8212 not just consumers &#8212 of great technology. We created this web site as an Information Hub: to make a case for Engineering, and for diversity in Engineering, and to give parents a place to find information on how and why to introduce their kids to Engineering. <a href="about_us.html">Read more...</a>
				</div>
			</div>
	</div> <!--span5-->
		
			
	<div class="span2">
		<h4><%= link_to "Intro to Engineering",   intro_to_engineering_path %></h4> 
		<p><p>
		<%= render "contentnav" %>
	</div> <!--span3-->
			
		
	<div class="span2">
		<h4><%= link_to "Resources",   resource_types_path %></h4>
		<p><p>
		<%= render "resourcesnav" %>	
	</div> <!--span3-->
					
	<div class="span2">
		<div class="row-fluid">
			<h4><%= link_to "Research",   research_path %></h4>
			
			<%= link_to image_tag("facts/stat33percent.png", :alt => "33% of S&P 500 CEOs have Engineering degrees"),   research_path %>
			33% of S&P 500 CEOs have Engineering degrees, more than any other degree. Check out our <%= link_to "research",   research_path %> page for more information on diversity in Engineering, as well as income-earning potential of an Engineering degree.
			<hr>
		</div>
			
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->

		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->

	</div> <!--span3-->
</div><!--row-->