<% provide(:title, 'Introducing Kids to Engineering: 2025 Labs') %>
<% provide(:description, 'We give parents and educators a place to find information on how and why to introduce their kids to Engineering. We make a case for Engineering and for diversity in Engineering.') %>


<div class="row-fluid">
	<div class="span9">

		
		<div class="row-fluid">
			<div class="span3">
				
							<%= image_tag("pics/girleoncomputer.png", :alt => "girl using a laptop computer", :class =>'socialmedia') %> 
			   <h4 class="blogtxt">Featured Video</h4>	
				
				<h5>Engineering Processes</h5>
				Watch this video from <a href="http://www.kidstack.com" target="_blank">www.kidstack.com</a>, our companion site for kids, to learn more about the different Engineering Processes, including engineering design, innovation, failure analysis and reverse engineering.
			</div> <!--span4-->
			
			<div class="span9">

					<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/UiaXl0giP78" frameborder="0" allowfullscreen=""></iframe></div>
				
	    	</div><!--span9-->
			
		</div><!--row-->
	
<hr>

	
		<div class="row-fluid">
			<div class="span4">
				<h4 class="blogtxt">We founded 2025 Labs to introduce more kids to Engineering and Computer Science. </h4> Our mission is to give all kids, regardless of ethnicity, gender or socioeconomic background, the opportunity to become creators &#8212 not just consumers &#8212 of great technology. We created this web site as an Information Hub: to make a case for Engineering, and for diversity in Engineering, and to give parents a place to find information on how and why to introduce their kids to Engineering. <a href="about_us.html">Read more...</a> 
	    	</div> <!--span4-->	
		
			<div class="span4">
				<%= image_tag("pics/kidswithrobotfinal.png", :alt => "kids playing with high tech gadgets", :class =>'rounded') %> 				
			</div> <!--span4-->
	
			<div class="span4">
				<h4 class="blogtxt">2025 LABS Blog </h4>
				<h5>Race and Gender in College Mentoring and more Engineering diversity topics &#8212 April 2014</h5>
				NPR's Morning Edition discussed research demonstrating evidence of race and gender bias in College Mentoring - not only traditionally underrepresented minorities, but also Asian and Indian groups. On a more positive note, you can read an article about our CEO's work to establish a MESA Engineering mentoring program at her alma mater. <%= link_to "Read more...",   blog_path %>  
			</div> <!--span4-->
		</div>	<!--row-->
	</div>	<!--span9-->
	
	<div class="span3">
		<div class="row-fluid">
				<%#= link_to image_tag("facts/stat8.png", :alt => "8 out of top 10 highest-earning degrees for 2013 graduates are in Engineering or Computer Science"),   research_path %>
				<div class="facts">8</div>
				<br>
				Eight of the top ten highest-earning degrees for 2013 graduates are in Engineering or Computer Science.	Check out our <%= link_to "research",   research_path %> page for studies on gender, race, and socioeconomic diversity in Engineering, as well as income-earning potential of an Engineering degree.
		    	<hr>
		</div>
	
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
	
		<div class="row-fluid">
			<div class="span12" style="text-align:center">
					<%= render "layouts/mediumad" %>				
			</div> <!--span12-->
		</div> <!--row-->
		
	</div> <!--span3-->
	
</div><!--row-->