
<div class="container-fluid">
<% provide(:title, '2025Labs') %>
<% provide(:description, 'We give parents and educators a place to find information on how and why to introduce their kids to Engineering. We make a case for Engineering and for diversity in Engineering.') %>
	
	<div class="row featurette">
			<div class="col-xs-4">
				<a href="http://www.2025consulting.com" target="_blank"><%= image_tag("frontpage_consulting.png", :class=> 'featurette-image img-responsive center-block') %> </a>				
			</div> <!--col-sm-4 -->
				
			<div class="col-xs-4">
				<%= link_to image_tag("frontpage_labs.png", :class=> 'featurette-image img-responsive center-block'),   parents_home_path %>
	
			</div> <!-- col-sm-4 -->
						
			<div class="col-xs-4">		
				<a href="http://www.2025kids.com" target="_blank"><%= image_tag("frontpage_kids.png", :class=> 'featurette-image img-responsive center-block',:alt => "kids web site") %> </a>	
							
			</div> <!-- col-sm-4-->
		
	</div>	<!--row-->

	<div class="container-fluid">
<hr class="featurette-divider">	

<div class="row">
				<div class="row">
					<div class="col-sm-4">
						<h4 class="blogtxt">2025 Consulting</h4> <a href="http://www.2025consulting.com" target="_blank">2025 Consulting</a> is the professional services arm that funds our community work. We have more than 15 years of experience in Management Consulting to High Tech companies, from startups to global multi-billion dollar businesses, across industries, such as software, semiconductor, network equipment, supply chain, consumer retail, and biotechnology, and across organization levels, from the C-suite and board to line staff, and everything in between. Practice areas include product development, program management, IT, and operations. Click <a href="http://www.2025consulting.com" target="_blank">here</a> to visit the 2025 Consulting site.		
					</div> <!-- col-sm-4 -->
						
					<div class="col-sm-4">		
						<h4 class="blogtxt">2025 Labs Community Resources </h4>The <%= link_to ("Community Resources"), parents_home_path %> site provides a variety of information about engineering for parents, educators, and community members. For example, the site includes resources around the web that can introduce kids to engineering in a variety of fun ways. The site includes a wide collection of articles and research on topics such as diversity in engineering, in patents, and in startup investment, information about engineering salaries, and research on social and other factors that influence diversity in engineering. Click <%= link_to ("here"), parents_home_path %> to visit the parents and educators site. 
						
					</div> <!-- col-sm-4 -->
					
					<div class="col-sm-4"> 
						<h4 class="blogtxt">2025 Kids</h4>The <a href="http://www.2025kids.com" target="_blank">2025 Kids</a> site includes engineering content, videos, activities, projects, quizzes, news articles, magazines, and more. A variety of engineering topics are covered, including engineering design, innovation, failure analysis, and reverse engineering. The 2025 Kids Site also covers a variety of key engineering areas, including Computing, Energy, Structures, Materials, and Machines. Each subject area, such as Machines or Energy, includes a number of topics, such as Motors and Engines or the Electric Grid. Click <a href="http://www.2025kids.com" target="_blank">here</a> to visit the 2025 Kids site.
					</div>
				</div>	<!--row-->
				</div>
				</div>
		



