<% provide(:title, 'Introducing Kids to Engineering: 2025Labs') %>
<% provide(:description, 'We give parents and educators a place to find information on how and why to introduce their kids to Engineering. We make a case for Engineering and for diversity in Engineering.') %>


<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<div class="span4">
				
				<span class="missiontxt">Our Mission</span> is to bring engineering and technology literacy to all kids and inspire a more diverse next generation of technology creators. Welcome to the 2025 Labs parents and educators site. Here you can find resources around the web, as well as a collection of research.
				<br><br>
				
				<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/aEmDIBJqK4U" frameborder="0" allowfullscreen=""></iframe></div>	
			</div>
				<div class="span4">
					<h4 class="blogtxt">2025Labs Blog </h4>
					<h5>OMG - So Much Going On! <br>&#8212 September 2015</h5>
					
					It’s been quite a year. We made Top 25 nationally in a women’s startup competition, began spreading the word about what we are doing, and have since been invited into a startup incubator, GSV Labs, the largest EdTech startup incubator in the nation. Presence at GSV Labs has given us great opportunities to talk to a variety of people who care about STEM education, including folks from the US Department of Education, and other EdTech startups. Read <%= link_to "more...",   blog_path %> 

				 
				
				</div>
			<div class="span4">
					<%= image_tag("pics/kidswithrobotfinal.png", :alt => "kids playing with high tech gadgets", :class =>'rounded') %> 
				

			</div>
			
		</div><!--row-->
	
<hr>

	
		<div class="row-fluid">

				<div class="span4">
					
					<a href="http://www.2025kids.com" target="_blank"><%= image_tag("2025LabsKids_600.png", :alt =>"2025LabsKids logo") %></a>

					<a href="http://www.2025kids.com" target="_blank"><%= image_tag("pics/girleoncomputer.png", :alt => "girl using a laptop computer", :class =>'socialmedia') %> </a>

				</div> 
				
				<div class="span4">
					<h4 class="blogtxt">Introducing 2025 Kids</h4>Visit <a href="http://www.2025kids.com" target="_blank">2025kids.com</a>, the new 2025 Labs destination for kids. This site includes videos, content, activities, quizzes, games, and more - we are actively building it out! For example, there is lots more to Engineering than just Design - learn about other processes like innovation, failure analysis and reverse engineering. Coming Soon: Our 2025 Kids <b>Engineering in the News</b> magazine!  
				</div>
				
			
				<div class="span4">
<!-- 					<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/UiaXl0giP78" frameborder="0" allowfullscreen=""></iframe></div> -->
					
<!--					<div class="flex-video widescreen"><iframe src="//www.2025kids.com" frameborder="0" allowfullscreen=""></iframe></div> -->
					<a href="http://www.2025kids.com" target="_blank"><%= image_tag("all-blocks.png", :alt => "2025 Labs kids content areas", :class =>'socialmedia') %> </a>
					

				</div>

			
			

		
			
	
		
		</div>	<!--row-->
	</div>	<!--span9-->
	
	<div class="span3">
		<div class="row-fluid">
				<div class="facts"><a class="facts1" <%= link_to "8",    research_path %></a></div>
				<br>
				Eight of the top ten highest-earning degrees for 2013 graduates are in Engineering or Computer Science.	Check out our <%= link_to "research",   research_path %> page for studies on gender, race, and socioeconomic diversity in Engineering, as well as income-earning potential of an Engineering degree.
		    	<hr>
		</div>
	
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
	
		<div class="row-fluid">
			<div class="span12" style="text-align:center">
					<%= render "layouts/mediumad" %>				
			</div> <!--span12-->
		</div> <!--row-->
		
	</div> <!--span3-->
	
</div><!--row-->