<% provide(:title, 'Introducing Kids to Engineering: 2025Labs') %>
<% provide(:description, 'We give parents and educators a place to find information on how and why to introduce their kids to Engineering. We make a case for Engineering and for diversity in Engineering.') %>


<div class="row-fluid">
				<div class="row-fluid">
						<div class="span3">
							<h4 class="blogtxt">Introducing 2025 Kids</h4>Visit <a href="http://www.2025kids.com" target="_blank">2025kids.com</a>, the new 2025 Labs destination for kids. This site includes videos, content, activities, quizzes, games, and more - we are actively building it out! For example, there is lots more to Engineering than just Design - learn about other processes like innovation, failure analysis and reverse engineering.<br><br>
							<a href="http://www.2025kids.com" target="_blank"><%= image_tag("pics/girleoncomputer.png", :alt => "girl using a laptop computer", :class =>'socialmedia') %> </a><br><br>
							
						</div> <!-- span4 -->
				
						<div class="span3">
							<a href="http://www.2025kids.com" target="_blank"><%= image_tag("2025LabsKids_600.png", :alt =>"2025LabsKids logo") %></a>
				<br><br>
							<span class="missiontxt">Our Mission</span> is to bring engineering and technology literacy to all kids and inspire a more diverse next generation of technology creators.
							<a href="http://www.2025kids.com" target="_blank"><%= image_tag("pics/all-blocks-padded.png", :alt => "2025 Labs kids content areas", :class =>'socialmedia') %> </a>			
						</div> <!-- span4 -->
						
						<div class="span3">		
							<a href="http://www.2025kids.com/products" target="_blank"><%= image_tag("pics/FrontPageImage-order.png", :alt =>"2025Kids magazine") %></a>  
							
						</div> <!-- span4 -->
		<div class="span3"> 
			
			<div class="facts"><a class="facts1" <%= link_to "8",    research_path %></a></div>
					<br>
					Eight of the top ten highest-earning degrees for 2013 graduates are in Engineering or Computer Science.	Check out our <%= link_to "research",   research_path %> page for studies on gender, race, and socioeconomic diversity in Engineering, as well as income-earning potential of an Engineering degree.
			    	<br><br><br>

		</div>
				</div>	<!--row-->
		
	<hr>	
		
		
		<div class="row-fluid">
			<div class="span3">
				
				<span class="missiontxt">Welcome</span> to the 2025 Labs parents and educators site. (If you want to visit the kids&#39; site, click <a href="http://www.2025kids.com" target="_blank">here</a>, or on the 2025 Labs Kids logo above.) On the parent and educator site, you can find resources around the web, in addition to a collection of research.
				<br><br>
				
				<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/aEmDIBJqK4U" frameborder="0" allowfullscreen=""></iframe></div>	
			</div> <!-- span4 -->
			<div class="span3">
					<h4 class="blogtxt">2025Labs Blog </h4>
					<h5>OMG - So Much Going On! <br>&#8212 September 2015</h5>
					
					It’s been quite a year. We made Top 25 nationally in a women’s startup competition, began spreading the word about what we are doing, and have since been invited into a startup incubator, GSV Labs, the largest EdTech startup incubator in the nation. Presence at GSV Labs has given us great opportunities to talk to a variety of people who care about STEM education, including folks from the US Department of Education, and other EdTech startups. Read <%= link_to "more...",   blog_path %> 
				
			</div> <!-- span4 -->
			<div class="span3">
					<%= image_tag("pics/kidswithrobotfinal.png", :alt => "kids playing with high tech gadgets", :class =>'rounded') %> 
				
			</div> <!-- span4 -->
			
			<div class="span3" style="text-align:center">
					<%= render "layouts/mediumad" %>				
			</div> <!--span12-->	
		</div><!--row-->
	
<hr>


