<% provide(:title, 'Home') %>

<div class="row-fluid">
	<div class="span9">
  		
		<div class="row-fluid">
    		<div class="span6">
				<%= image_tag("pics/girlonlaptop2.jpg", :alt => "girl using a laptop computer", :class =>'rounded') %> 
			</div> <!--span6-->
			
			<div class="span6">
				<%= link_to image_tag("pics/purpleboxtextbfegetstarted2.png", :alt => "building future engineers", :class =>'rounded'),   get_started_path %>
	    	</div><!--span6-->
		</div><!--row-->
	
		<div class="row-fluid">
			<div class="span6 ">
	    	</div><!--span6-->
		</div>	<!--row-->
	
		<div class="row-fluid">
			<div class="span4">
				<span class="colortxt">We founded 2025 Labs to introduce more kids to Engineering and Computer Science.</span> Our mission is to give all kids, regardless of ethnicity, gender or socioeconomic background, the opportunity to become creators &#8212 not just consumers &#8212 of great technology. We created this web site as an Information Hub: to make a case for Engineering, and for diversity in Engineering, and to give parents a place to find information on how and why to introduce their kids to Engineering. <a href="about_us.html">Read more...</a>
	    	</div> <!--span4-->	
		
			<div class="span4">
				<%= image_tag("pics/kidsatplay.jpg", :alt => "kids playing with high tech gadgets", :class =>'rounded') %> 				
			</div> <!--span4-->
	
			<div class="span4">
				<h4 class="blogtxt">2025 LABS Blog </h4>
				<h5>Calling All Creative Coders, Hackers, Designers, and Technical Young Women! &#8212 September 25, 2013</h5>
				Applications now open for the National Center for Women & Information Technology (NCWIT) Award for Aspirations in Computing, which seeks to recognize high-school girls with outstanding achievements and aspirations in computing and technology.  <a href="http://2025labs.com/wordpress" target="_blank">Read more...</a>
			</div> <!--span4-->
		</div>	<!--row-->
	</div>	<!--span9-->
	
	<div class="span3">
		<div class="row-fluid">
				<br>Check out our <%= link_to "research",   research_path %> page for studies on gender, race, and socioeconomic diversity in Engineering, as well as income-earning potential of an Engineering degree. <p><p>For example:<br><br>
				<%= link_to image_tag("facts/stat8.png", :alt => "8"),   research_path %>
				Eight of the top ten highest-earning degrees for 2013 graduates are in Engineering or Computer Science.	
		    	<hr>
		</div>
	
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
	
		<div class="row-fluid">
			<div class="span12" style="text-align:center">
					<%= render "layouts/mediumad" %>				
			</div> <!--span12-->
		</div> <!--row-->
		
	</div> <!--span3-->
	
</div><!--row-->