<% provide(:title, 'Introducing Kids to Engineering: 2025 Labs') %>
<% provide(:description, 'We give parents and educators a place to find information on how and why to introduce their kids to Engineering. We make a case for Engineering and for diversity in Engineering.') %>


<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<div class="span4">
				<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/aEmDIBJqK4U" frameborder="0" allowfullscreen=""></iframe></div>	
				
				<span class="missiontxt">Our Mission</span> is to give all kids, regardless of ethnicity, gender or socioeconomic background, the opportunity to become creators of great technology. Browse our site to find out how (and why) to introduce kids to Engineering.
			</div>
				<div class="span4">
					<h4 class="blogtxt">2025 LABS Blog </h4>
					<h5>2025 Labs in Women Startup Challenge  &#8212 May 2015</h5>
				 Exciting news! 2025 Labs was accepted to the  <a href="http://www.huffingtonpost.com/craig-newmark/taking-action-to-fund-wom_b_6986228.html" target="_blank">Women Startup Challenge</a>, a crowdfunding competition sponsored by Craig Newmark (of craigslist) and <a href="http://womenwhotech.com/challenge/" target="_blank">Women Who Tech</a>. On a lark, feeling a little crowdfunding-curious, we entered the competition.  The competition is very short and ends May 29th. We’d love your support! We hadn’t planned on seeking  funding, but the Challenge looked like a great opportunity to increase visibility for 2025 Labs. Read <%= link_to "more...",   blog_path %> and <a href="https://www.crowdrise.com/2025labs-womenstartup2015" target="_blank">Donate Here</a>.
				 
				
				</div>
			<div class="span4">
					<%= image_tag("pics/kidswithrobotfinal.png", :alt => "kids playing with high tech gadgets", :class =>'rounded') %> 
				

			</div>
			
		</div><!--row-->
	
<hr>

	
		<div class="row-fluid">

				<div class="span4">
					
					<a href="http://www.kidstack.com" target="_blank"><%= image_tag("kidstack_logo300X50.png", :alt =>"kidstack logo") %></a>

					<%= image_tag("pics/girleoncomputer.png", :alt => "girl using a laptop computer", :class =>'socialmedia') %> 
					 	<h4 class="blogtxt">Featured Video</h4>Watch this video from <a href="http://www.kidstack.com" target="_blank">www.kidstack.com</a>, a  site for kids we're just beginning to develop. In it, you'll learn more about the different Engineering Processes, including engineering design, innovation, failure analysis and reverse engineering.
				</div> 
				
			
				<div class="span8">
					<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/UiaXl0giP78" frameborder="0" allowfullscreen=""></iframe></div>

				</div>

			
			

		
			
	
		
		</div>	<!--row-->
	</div>	<!--span9-->
	
	<div class="span3">
		<div class="row-fluid">
				<div class="facts"><a class="facts1" <%= link_to "8",    research_path %></a></div>
				<br>
				Eight of the top ten highest-earning degrees for 2013 graduates are in Engineering or Computer Science.	Check out our <%= link_to "research",   research_path %> page for studies on gender, race, and socioeconomic diversity in Engineering, as well as income-earning potential of an Engineering degree.
		    	<hr>
		</div>
	
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
	
		<div class="row-fluid">
			<div class="span12" style="text-align:center">
					<%= render "layouts/mediumad" %>				
			</div> <!--span12-->
		</div> <!--row-->
		
	</div> <!--span3-->
	
</div><!--row-->