<div class="logo_mainbkgd">
	<span class="catagoryandtopic"> Welcome to 2025 Kids! </span>
		<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> 
		<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> 
		<%= link_to image_tag("navgraphics/characters_icon.png", :class=>'navbuttons'), characters_path  %>
	</div> <!-- background -->

<div class="slidearea">
				
	<div class="row">
		<div class="col-md-2">
			<span class="mainpage_title">About This Site:</span>
				<br>Use this site to learn how engineering has built the world around you! <br><br>Click any of the icons at the top to find out about that area (<span class="inlineaccentengrprocess"> Engineering Process</span>, <span class="inlineaccentmaterials"> Materials</span>, <span class="inlineaccentstructures"> Structures</span>, <span class="inlineaccentmachines"> Machines</span>, <span class="inlineaccentenergy"> Energy</span>, or  <span class="inlineaccentcomputing"> Computing</span>).
				
				<br><br><%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %>Find out what's going on in the world of engineering in the “Engineering in the News™” area. 
				<br><br><%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> <br>Or, do some projects from the “Projects” area. 
				<br><br>Read about the characters on the <%= link_to image_tag("navgraphics/characters_icon.png", :class=>'navbuttons'), characters_path  %> page. 
				<br><br>Access to all of the content is free through 2015.
		</div> <!-- col-md-2 -->
		<div class="col-md-6">
			<span class="mainpage_title">Featured Video:</span>
				<div class="row">
					When you turn on a light, where does that energy come from? Follow Sunny (his friends call him “Banana Boy”) to find out how we get energy to power our world. <br><br>
					<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/XpRU_HVB1Eg" frameborder="0" allowfullscreen=""></iframe></div>
				</div>
		</div> <!-- col-md-6 -->
		<div class="col-md-4">
			<span class="mainpage_title">Engineering in the News™ <%= image_tag("news_images/newspaper.png")  %></span>
			<div class="row">
				<div class="eitn_title">3D Printing - Improving the Medical World</div>
				
				<div class="eitn_author">By Tanera van Diggelen, Pre-Med Student at University of California, Los Angeles</div>
		

				September 4, 2015
				<br><br>

				3D Printers print solid objects that you can eat, wear, and stand on. Imagine being able to print an actual pizza from a picture found on a computer. This is what 3-dimensional printing is allowing us to do. 3D printers create three dimensional objects of a digital picture. They print with materials rather than with the ink 2D printers use. One thin layer is placed on top of another until the solid object is made.    
				<br><br>

				The object is either designed from scratch or scanned using a 3D scanner. The software for this process separates the digital picture into many horizontal layers. You can think of each layer as a two-dimensional image. The printer then reads and prints each layer. Guitars, car parts, and bikinis have been 3D printed. These printers are also helping people in a big way. Replacement bones and body parts can now be printed, and this is just the beginning. Looking to the future, this technology has many promising possibilities in the medical world. 
				  <%= link_to ("Read more..."), news_path  %>
				  <%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %>
			</div> <!-- row -->	
		</div> <!-- col-md-4 -->
			
	</div> <!-- row-->
			
		<div class="row">
			<div class="col-md-2">
			</div>	

		<div class="col-md-6">

		</div>

		<div class="col-sm-4 col-md-4">					
		</div>
	</div>
</div>