<% provide(:title, 'Introducing Materials to Kids: 2025 Labs') %>
<% provide(:description, 'Selection of materials for use in a structure, machine, or device is often a critical decision with multiple alternatives, each with their advantages and disadvantages. This section introduces some history of materials, key properties, and particular materials of interest in our modern era.') %>


<div class="row-fluid">

	<div class="span2">
		<%= render "contentnav" %>
	</div>
	<div class="span8">
		<%= image_tag("pics/mttag.png", :alt => "Materials Icon", :class => "iconleft") %>	
		<h2>&#011;  Materials</h2>
		
		<div class="row-fluid">
			<div class="span3">
				<div class="mainideas">
					<div class="mainideasheader">
						Main Ideas
					</div> <!-- main idea header close -->
					<br>
					<a class="mainideastopic" <%= link_to "Materials used to build something must be appropriate for its planned use", :anchor => "MaterialsUse" %></a>								
					<br><br>
					<a class="mainideastopic"<%= link_to "Materials are so critical that eras in history have been named for materials in use during the period", :anchor => "MaterialsEras" %></a>
					<br><br>
					<a class="mainideastopic"<%= link_to "Materials have properties, which describe how they can be expected to behave under different conditions", :anchor => "MaterialsProperties" %></a>
					<br><br>
					<a class="mainideastopic"<%= link_to "A property is something about the material that is true regardless of its size or shape", :anchor => "MaterialsPropertiesDefined" %></a>
					<br><br>
					<a class="mainideastopic"<%= link_to "Strength and Stiffness are important - but different - properties", :anchor => "StrengthVsStiffness" %></a>
					<br><br>
					
					<a class="mainideastopic"<%= link_to "Elastic and Plastic are behaviors in a material ", :anchor => "ElasticPlasticBehavior" %></a>
					<br><br>
					<a class="mainideastopic"<%= link_to "Another material property of interest is Electrical Conductivity", :anchor => "MaterialsConductivity" %></a>
					<br><br>
					<a class="mainideastopic"<%= link_to "Materials discoveries and inventions - like concrete, plastics, semiconductors, lightweight metal alloys, fiber glass, and more - have changed our world ", :anchor => "ImportantMaterials" %></a>
					<br><br>
					<a class="mainideastopic"<%= link_to "Engineers select materials based on the intended use of the structure to be built, and the inherent properties of the materials", :anchor => "MaterialsToStructures" %></a>
					<br><br>
				</div> <!-- main ideas section close -->
			</div> <!-- span 3 for main ideas close -->
			
			<div class="span9">
				<h5><a id="MaterialsUse"><span class="sectionheader">Materials used to build something must be appropriate for its planned use</span></a></h5> 
					Would you build a bridge out of particle board? Or make a basketball out of glass? <p><p>Particle board is a wood product made from leftover wood, such as wood chips or sawdust. It is used in places where a wood-like material is desired, but low cost is more important than strength: uses such as kitchen drawers or low-cost furniture. So, it probably not the best choice for a structure - like a bridge - that must hold the weight of lots of large vehicles. And a basketball made of glass would likely not survive the first bounce on the floor - and even if it did, it would not rebound nicely back into your hand to allow you to continue to dribble down the basketball court. <p><p>Clearly then, materials used to build things must be appropriate for how those things are to be <i>used</i>, and choice of materials is often part and parcel of the design process. This section is going to describe some basics about how Engineers think about materials.
					<p><p>

				<h5><a id="MaterialsEras"><span class="sectionheader">Materials are so critical that eras in history have been named for materials in use during the period</span></a></h5> 
					People have been thinking about materials for a very long time. In fact, we have named key periods of history by materials in use at the time. For example, the "Stone Age" refers to the very early period of mankind when people learned to make and use stone tools. <p><p>
					
				<div class="row-fluid">
					<div class="span6">
					The Bronze Age came after the Stone Age. Somehow, mankind's early experimentation with copper showed that adding tin to copper results in a metal alloy that is harder and has a lower melting temperature. An alloy is a combination of metals, and the alloy of copper and tin is a material we call Bronze. The lower melting temperature meant that people could <i>cast</i> bronze into particular shapes. Bronze was used to make weapons, tools, decorative items like vases and jewelry, and structures. 
					</div>
					<div class="span6">
						<%= image_tag("pics/BohemianBronzeVase.JPG", :alt => "Bronze cup. Prehistoric Times of Bohemia, Moravia and Slovakia, National Museum in Prague", :class => 'picpadding') %>
					</div>
				</div>
					
				<p><p>Early materials were quite dependent on what was available in each particular geographic area, which is why bronze came into usage predominantly where both copper and tin were present (although in the case of some areas, only copper was available locally, and tin was transported through early trade routes). 
					
				<p><p>Interestingly, copper and arsenic were discovered as an early bronze alloy, but discontinued as it was discovered that peopled died after working with arsenic. A Chalcolithic period, or "Copper Age" occurred briefly in some areas at the beginning of the Bronze Age, during which particular regions were working with Copper but had not yet discovered Bronze as an alloy. Copper is a very soft metal, and if found in its native form (by itself and not combined with other things in an ore), it can be shaped simply by hammering. 
					
					<p><p>After the Bronze Age came the Iron Age, where people learned how to work with iron and then learned to make steel by combining iron with a small amount of carbon. People had worked with meteoric iron (iron from meteorites, typically with iron, nickel, and potentially cobalt as elements in the alloy) from a very early time, as early as 4000 BC. Much later, people learned how to smelt iron from iron ores. Iron ores are iron-containing rocks and minerals, such as hematite, and smelting refers to processes for extracting a metal from an ore. Smelting iron from iron ore requires high temperatures in special furnaces with the addition of a carbon source,  like plant material or charcoal. People eventually figured out that iron with a small amount carbon becomes quite strong - and thus steel was created. However, through all these early discoveries, materials science was actually quite lacking in conceptual understanding. People had studied <i>what</i> results when materials are heated, hammered, alloyed with other elements, etc., but they did not understand <i>why</i> - such as why adding tin to copper, or carbon to iron, results in a sturdier material. Materials science has matured tremendously since.
					<p><p>
						
				<h5><a id="MaterialsProperties"><span class="sectionheader">Materials have <i>properties</i>, which describe how they can be expected to behave under different conditions</span></a></h5> 
				If you drop a champagne glass, it is likely to break, but if you drop a pencil, it usually won't. If you stretch a rubber band out a few inches, it will snap right back; if you try to stretch out a pencil a few inches, it will break instead of stretching and recovering. These types of <i>properties</i> have names. Properties are inherent to a material, but can be changed through heating, cooling,  hammering, or adding other things to it. One example of changing the properties in a material is the process for making steel by adding carbon to iron. Iron and steel are mostly the same in terms of the elements that compose it (steel is iron with typically less than 1% carbon), but have different properties; the same is true for copper and bronze.<p><p> 
				
				<h5><a id="MaterialsPropertiesDefined"><span class="sectionheader">A property is something about the material that is true regardless of its size or shape </span></a></h5> 
				For example, <i>Density</i> is the amount of mass per unit volume: the density of a small ice cube is the same as the density of a very large block of ice . A material's <i>Melting Point</i> is the temperature at which the material will melt; for example, 32&deg; F for ice, but 2600&deg; F for low carbon steel. The melting point of mercury is about -38&deg; F, which is why mercury is liquid at room temperature. <p><p>
				
				There is a property called <i>Yield Strength</i>, which is how much a material can yield - or stretch - without breaking. One that can stretch before it breaks is <i>ductile</i>; one that breaks right away is called <i>brittle</i>. Rubber and copper are ductile; glass is brittle. Copper is made into wiring because it is both ductile and conducts electricity - it has to be ductile to be made into copper wiring; otherwise it would just break when stretched out into thin wire (which would make for lousy circuits). And, the ductility of rubber is the reason that a rubber ball bounces - it deforms upon contact with the ground, and the reaction to snap back to a fully round shape is what creates the upward movement. That's why a ball will bounce higher off a hard surface, like concrete, than a soft surface, like carpet - a hard surface creates more deformity in the ball. Try that with a glass basketball! <p><p>
					
					
				<h5><a id="StrengthVsStiffness"><span class="sectionheader">Strength and Stiffness are important - but different - properties </span></a></h5> 
				<i>Strength</i> is different from <i>stiffness</i>. Strength refers to the amount of force or stress required to break something. Rubber is strong - what happens if you construct a bridge from it? The rubber bridge may not break - but that doesn't make it a good bridge! Can you imagine a rubber bridge fully loaded with cars? Perhaps - if the rubber bridge were over a fast-moving river - the bridge would bend down so much that the cars are immersed in the water and left to float downstream. Instead, you want a bridge made of a material or materials that will be stiffer.
				
				<p><p><i>Stiffness</i> is a measure of the inherent elasticity of a material, independent of its shape (the flexibility of a particular object will depend on the inherent stiffness of the material as well as the shape of the object). For example, rubber has a very low measure of stiffness, while diamond has a very high measure of stiffness. We build bridges and buildings out of <i>stiff</i> materials. The stiffness property is also sometimes called the "Young's modulus" or simply, "E".<p><p>
				
				Rubber may be strong and not stiff - but strength and stiffness are not opposites. Let's look at some examples to get a better sense of the difference between these properties (from <a target="_blank" href="http://www.amazon.com/gp/product/0691125481/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0691125481&linkCode=as2&tag=2025labs-20">The New Science of Strong Materials or Why You Don't Fall through the Floor</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=2025labs-20&l=as2&o=1&a=0691125481" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />):<p><p>

				<table>
					<tr>
					    <td></td>
					    <td width="50"><b><u>Material</b></u></td>
					    <td width="120"><b><u>Stiffness</b></u></td>
						<td><b><u>Strength</b></u></td>
					</tr><tr>
					    <td width="40"></td>
					    <td width="100">Steel:</td>
					    <td width="130">Stiff</td>
						<td>Strong</td>
					</tr>
					<tr>
					    <td></td>
						<td>Jelly:</td>
				     	<td>Flexible (un-Stiff)</td>
						<td>Weak</td>
					</tr>
					<tr>
					    <td></td>
						<td>Nylon:</td>
				     	<td>Flexible (un-Stiff)</td>
						<td>Strong</td>
					</tr>
					<tr>
					    <td></td>
						<td>Cracker:</td>
				     	<td>Stiff</td>
						<td>Weak</td>
					</tr>

					</table>

				<p><p>We wouldn't build a bridge out of cracker material any more than we would build one out of rubber material. The cracker would just break, while the rubber would bend too much. For heavy-duty construction, we use materials like steel and concrete. (One minor note here is that, when we build structures like bridges, particularly in windy or earthquake-prone regions, we don't want them to be so stiff that they don't have <i>any</i> give. Structures must be able to move based on forces around them; otherwise, they could break if faced with forces beyond what they can handle. That is a structural design concern, and is documented further in the <%= link_to "Structures",   structures_path %> section.)
					
				<p><p>Specifically, <i>tensile strength</i> is the amount of stress needed to break a material by breaking all the bonds between the atoms along the line of fracture. Tensile strength means strength under tension. When we talk about materials, we talk about "tension" and "compression". To think about tension, think about taking a suspender, and pull on both ends to stretch it out. To think about compression, think about taking a hammer to a block of wood.
					
				<p><p>When a material stretches under tension, or compresses under a load, what we are really talking about is the atoms or molecules in the solid getting further apart, or closer together. And, what is "giving" in between the atoms to allow them to stretch or compress is the interatomic chemical bonds that hold the atoms together in a solid. <p><p>
					
				<%= image_tag("pics/springs.png", :alt => "Representation of atoms or molecules in a solid under tension and compression", :class => 'picpadding') %><p><p>
						
				The picture above is a representation of the interatomic bonds under normal conditions (no load), under compression (being squished down), and under tension (being stretched out). We come back to the ideas of tension and compression in the <%= link_to "Structures",   structures_path %> section.<p><p> 
					
					<h5><a id="ElasticPlasticBehavior"><span class="sectionheader">Elastic and Plastic are <i>behaviors</i> in a material  </span></a></h5>	
					Elasticity is not just about materials we normally think of as "stretchy". Elasticity also refers to how materials recover even when we can't see the deformities that happen under load. 
					<p><p>Elastic behavior is where a material under strain recovers to its original configuration after the load is removed (like a rubber band stretching back). Plastic behavior is where the material retains its deformed shape (think of pounding silly putty with your hand into a flat shape - it will stay flat, demonstrating "plastic" behavior). We normally think of a rubber band <i>being</i> elastic, but if you stretch the rubber band beyond its ability to snap back, it will break - no longer demonstrating elastic behavior.  

					<p><p>Here's another example of elastic behavior, this time in a structure (go to the <%= link_to "Structures",   structures_path %> section to learn more about elasticity in structures). When the Golden Gate Bridge is occupied by bumper-to-bumper traffic, there is an imperceptible (to us) deformity in the deck of the bridge caused by the weight of the cars. If all the cars then leave the bridge, the bridge will recover (thankfully, it is a well-designed bridge and does not collapse under heavy traffic). Even though we can't see that the bridge is being somewhat compressed under the load, it does happen. It is made of metal and concrete, and it is demonstrating elastic behavior. In 1987, for the bridge's <a href="http://www.mercurynews.com/ci_20695952/day-golden-gate-bridge-flattened" target="_blank">50th anniversary</a>, the bridge was closed to vehicle traffic and pedestrians swarmed the bridge for the celebration. An estimated 300,000 people were on the bridge for the celebration. A bridge full of people weighs more than a bridge full of cars (an estimated 5400 lbs per square foot, about double the weight of a full load of cars). The bridge was designed expecting a maximum of 5700 lbs per square foot - but as is usual practice, it was over-engineered to be able to handle much more than that. During the event, the bridge was visibly sagging by around 7 feet. The bridge did not break, and after the festival returned to its normal shape, thus demonstrating the principle of elasticity - <i>visible</i> elasticity - in materials we don't normally think of as "elastic". The load that day was within the elastic part of what the bridge could handle; something else entirely might happen if an asteroid fell on the bridge.<p><p>
						
					<h5><a id="MaterialsConductivity"><span class="sectionheader">Another material property of interest is <i>Electrical Conductivity</i></span></a></h5>	
					Electrical conductivity is a property that refers to the degree to which a material will conduct electricity. Copper is highly conductive, which is why it is used for wiring. Rubber is not, which is why, if you have to be out in a lightning storm, or you're planning to touch exposed electrical wires (neither of which we recommend!), you might be marginally safer in rubber-soled shoes. A material which is semi-conducting, like silicon, will allow current to flow, but less so than copper. The fact that it is a <i>semi</i>conducting material is what enables it to be used in electronics, as the flow can be controlled to allow current or not, enabling a whole digital world. The discovery of semiconductors and how they can be used to build computers was a foundational set of discoveries that have resulted in our modern computer technology. To learn more about computing, visit the <%= link_to "Computing",   computing_path %> section.<p><p>

					
					<h5><a id="ImportantMaterials"><span class="sectionheader">Materials discoveries and inventions - like concrete, plastics, semiconductors, lightweight metal alloys, fiber glass, and more - have changed our world </span></a></h5>
					
					The world changed significantly with the creation of the material we normally call "plastic". In this context, plastic is a pretty generic term (frankly, there are differences of opinion about the definition, too), but generally "plastics" are carbon-containing polymeric materials often made from petroleum sources. <i>Polymeric</i> means that the molecules are comprised of chains of repeating units. Common examples of materials we call plastic are polyvinyl chloride (or "PVC") and polystyrene (or "Styrofoam"). We now use it for bottles, cups, milk jugs, ready-to-eat foods, appliances, dials and knobs, and many, many more things. In many ways it has revolutionized our daily lives. But its invention is not without environmental costs. The invention of plastic containers has created somewhat of a throwaway culture, and one of the impacts is a significant amount of plastic garbage in our oceans, which takes a very long time to degrade fully, and has caused problems in the diet of ocean animals and birds that feed on them. The problem is so bad that there as a very large area of ocean that is called the <a href="http://en.wikipedia.org/wiki/Great_Pacific_garbage_patch" target="_blank">Great Pacific Garbage Patch</a>.
					
					<p><p>Concrete is based on "lime", or "quicklime" as it is sometimes called - the principle component of limestone. Limestone is created from the remains of corals and shellfish within a layer of sediment. The shells and corals get crushed and crystalized over many, many years, and result in limestone. Lime is essentially calcium carbonate. Lime is a caustic powder which, when water is added, creates a material that can cause a chemical burn to skin - but which, when dry, becomes a hardened material. This is concrete. We'll go into a little further detail on the discovery and proliferation of concrete in the next edition of this page. In the meantime, here's a great book on concrete: <a href="http://www.amazon.com/gp/product/1616144815/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1616144815&linkCode=as2&tag=2025labs-20">Concrete Planet: The Strange and Fascinating Story of the World's Most Common Man-Made Material</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=2025labs-20&l=as2&o=1&a=1616144815" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />.
					
					<p><p>In the next edition, we will also talk a little bit about ceramics, lightweight metal alloys like titanium and carbon fiber, and other interesting materials like fiber glass.
					
					<p><p>
									
					<h5><a id="MaterialsToStructures"><span class="sectionheader">Engineers select materials based on the intended use of the structure to be built, and the inherent properties of the materials</i></span></a></h5>
				We started by talking about how different materials have different properties, and how you would choose materials for a thing (object or structure) based on the identified use of the structure, and the materials needed to support that use. That leads us nicely to the section on <%= link_to "Structures",   structures_path %>. Meanwhile, if you are curious about other materials properties, you can look up properties of materials on <a href="http://www.matweb.com" target="_blank">MatWeb</a>. This is a very comprehensive site, and goes way beyond the concepts here - but it is interesting to browse through. For example, if you search for "steel", a large number of results will be returned for various types of steel, from Low Carbon Steel, to Stainless Steel, to Water Hardening Steel - 50 different types of steel at current note - and you can find out more about each one of these.
				

			
			
			</div> <!--span 9 for contents-->
		</div> <!-- row definition for main content section-->
					
	</div> <!--span 8 for middle section -->		


	<div class="span2">			
		<br><br>
		<%= link_to image_tag("facts/women20pctCS.png", :alt => "Women hold only 20% of computer science jobs"),   research_path %>
		<hr>

		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->

		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>						
		</div> <!--row-->	

	</div> <!--span 2 for stats-->

</div>	<!--row-->