<div class="row">
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-12">
				<h2>Dashboard</h2>
		
			</div>
		</div>
		<div class="dashboardbkgd">

			<div class="row">
				<div class="col-sm-2">
					<h1>20%</h1>
					When looking at the pipeline of potential women engineers, one leading indicator is the number of girls taking AP tests in computer science. Here we see that even as the number of takers is going up, women as a percentage is holding tight at 20%
				</div>

		<div class="col-sm-5">
			<%= image_tag("Data_Dashboard/APCSTestTakers3.png") %>
		</div>
	
		<div class="col-sm-5">
			<%= image_tag("Data_Dashboard/APCSTestTackersPercent.png") %>
		</div>
	</div>
</div>
<hr>


<div class="row">
	<div class="col-sm-2">
		<h1>18%</h1>
		A second indicator of the pipeline is the number of female engineering graduates, which has slipped from 21% in 2003 to just 18% in 2010. There is slight growth in the percentage of women pursuing doctoral degrees and tenure track positions.
	</div>
	
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-6">
				<%= image_tag("Data_Dashboard/BSAllEngineering.png") %>
			</div>
	
			<div class="col-sm-6">
				<%= image_tag("Data_Dashboard/MastersEngineering.png") %>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-6">
				<%= image_tag("Data_Dashboard/DoctoralEngineering.png") %>
			</div>
	
			<div class="col-sm-6">
				<%= image_tag("Data_Dashboard/EngineeringFaculty.png") %>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="dashboardbkgd">
<div class="row">
	<div class="col-sm-2">
		<h1>?%</h1>
		Looking past the pipeline of engineers to how women are succeeding as engineers, we looked at how women are doing in both receiving and giving angel funding. 
	</div>

	<div class="col-sm-5">
		<%= image_tag("Data_Dashboard/AngelFunding.png") %>
	</div>
	
	<div class="col-sm-5">
	<%= image_tag("Data_Dashboard/FemaleAngelInvestors.png") %>
	</div>
</div>
</div>

<hr>

<div class="row">
	<div class="col-sm-2">
		<h1>18%</h1>
		Lastly we looked at patents 
	</div>

	<div class="col-sm-5">
		<%= image_tag("Data_Dashboard/PatentPieCharts.png") %>
	</div>
	
	<div class="col-sm-5">
	<%= image_tag("Data_Dashboard/PatentsPerYear.png") %>
	</div>
</div>
</div>
<div class="col-sm-2">
	ad here
</div>
</div>


