<% provide(:title, 'About Us') %>
<% provide(:description, 'We are a services company with a social mission to give all kids, regardless of ethnicity, gender or socioeconomic background, the opportunity to become creators') %>

<div class="row-fluid">
	<div class="span2">
		<br><br>
		<%= image_tag("pics/melissa-drawing.png", :alt => "founder", :class =>'rounded') %> 
		<br><br>

	</div>
	
	<div class="span7">
		<h2>Services</h2>
		<span class="colortxt">Who We Are</span><br>
		We have taken a convoluted path in the creation of this company. Our founder came from an engineering and consulting background and already had a successful consulting business. Then she founded 2025 Labs with a mission is to bring technology literacy to all kids and inspire a more diverse next generation of technology creators. <br><br>
		
		We experimented with different business models for an educational technology company. We realized that the educational technology market is crowded, noisy, and not very profitable except for the largest players. The EdTech market is most friendly to the largest companies - who make many millions selling to large school districts. Young upstarts find many barriers to profitability. Successful ones seem to get bought up by the same big vendors. <br><br>
		
		Because of that (and the fact that we missed consulting), we decided to stop (for now) trying to make a profit on the social mission side of the company. We decided to put the consulting business and 2025 Labs together, and make it into a services business with a social mission. 
		
		The social benefit part of the company - bringing technology literacy to all kids - will not be run for profit, but will be run as a benefit to society within a profitable services company.
		
		
		</br>
		</br>

		<span class="colortxt"> Social mission</span><br> Our social mission is to <span class="missiontxt">bring engineering and technology literacy to all kids and inspire a more diverse next generation of creators</span>. Why do we care about engineering literacy? According to the <%= link_to "Wall Street Journal",   research_path %>, eight of the top 10 highest paying college degrees in 2013 are Engineering or Computer Science, making them great pathways for high-potential young people to secure their economic future as adults. Young people from economically-disadvantaged backgrounds, in particular, could really use a technology degree can change their lives. However, research shows that they are less likely to both pursue and persist in technology majors. This needs to change. 
		<br><br>
		Most kids aren't exposed to engineering. Stereotypes of engineers don't include role models for girls and some minority groups. Young people from lower socioeconomic strata&#8212of any gender or color&#8212are significantly underrepresented. A key finding from a <%= link_to "2011 Intel study",   research_path %> indicates that "(e)xposure to any content about engineering dramatically increases the number of teens, both male and female, who say they would consider a career in engineering."
		<br><br>
If we rely, as a society, on expensive summer camps to introduce kids to engineering, we put kids whose families cannot afford them at an incredible disadvantage. And, sadly, research shows that parents are much more likely to sign their sons up for a tech camp than their daughters. Stereotypes of what an engineer is like may prevent girls - and their parents - from envisioning or investigating an engineering future. The stereotypes are wrong. Successful engineers have social skills, friends, diverse interests, and a desire to be challenged and solve problems. Engineering degrees can also be used as a launchpad for other careers, such as business leadership or law. In fact, engineering is one of the most common degrees among Fortune 500 CEOs. So why aren't we encouraging our girls to learn about technology? 
		</br>
		</br>
		<span class="colortxt"> Services</span> <br>There are wide range of services and skills we can provide, from leading engineering projects in the classroom to management and small business consulting and program management to graphics, video, and web design and implementation. We are in the midst of this transition and will provide more information soon.
		</br><br>
  	

		
	</div> <!--span6-->	

	<div class="span3">
		<div class="row-fluid">

			<br><br><br>
			<div class="facts2"><a class="facts1" <%= link_to "Encouragement + Exposure",    research_path %></a></div>
			<br>
			2015 Google research showed that encouragement from parents and peers, past exposure to Computer Science in classes or activities, enjoyment of problem-solving, and  perceptions of CS as a career with potential for positive social impact were critical factors for women pursuing CS
			<hr>
         </div> <!--row-->

		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
		
		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/amazonskyscraperadgc" %>				
		</div> <!--row-->
		
     </div>	<!--row span3-->
</div><!--row-fluid-->
