<% provide(:title, 'Introducing Computing and Programming to Kids: 2025 Labs') %>
<% provide(:description, 'Any study of engineering is incomplete without an overview of computing. In this section, we describe the different parts of computers using a traditional desktop computer as an example.') %>

<div class="row-fluid">

	<div class="span2">
		<div class="sidebar-nav-fixed">
		<%= render "contentnav" %>
		</div>
	</div>
	
	<div class="span8">
		<%= image_tag("pics/stag.png", :alt => "Structures Icon", :class => "iconleft") %>	
		<h2>&#011;  Structures</h2>
		<div class="row-fluid">
			<div class="span3">
				<div class="mainideas">
					<div class="mainideasheader">
						Main Ideas
					</div>
				<br>
				<a class="mainideastopic" <%= link_to "Technology is the application of science to invent useful things or solve problems.", :anchor => "Technology" %></a>
								
				<br><br>
				<a class="mainideastopic"<%= link_to "A structure is something that is load bearing.", :anchor => "AStructure" %></a>
				<br><br>
				<a class="mainideastopic"<%= link_to "Structures are either under tension, compression, or both forces at the same time.", :anchor => "Structures" %></a>
				<br><br>
				<a class="mainideastopic"<%= link_to "Many of the structures that are a core part of our every day lives have been around for millennia.", :anchor => "Many" %> </a>
				</div>
			</div>
			<div class="span9">
		<h5><a id="Technology"><span class="sectionheader">Technology is the application of science to invent useful things or solve problems.</span></a></h5>
		Engineers use the different engineering processes to create and maintain technology. Over the next two sections we are going to take a closer look at two types of technology: structures and machines. We’ve included structures and machines as part of our framework, primarily because there are great resources available to learn about them, and understanding what they are will take you a long way toward understanding much of the technology you come into contact with daily. First we’re going to start with a fuller definition of technology and explain why we picked these two particular types of technology to go into with some detail. 
				<p><p>
				Merriam-Webster defines technology as "the use of science in industry, engineering, etc., to invent useful things or to solve problems." So technology is something that is both manmade and useful. Not everything manmade is technology. For example my son loves to draw cartoons, which are an absolutely manmade creation. They are wonderful drawings and stories, but they can’t rationally be described as either useful or problem solving. Rather the cartoons are entertainment and (I’m sure you would agree) art. 
				<p><p>
				So when we are referring to technology, we are talking about things that are useful and problem solving. Are there other limits to what can be defined as technology? Does it have to be tangible? Absolutely not. For example, take the computer program I am using to type. I can’t touch the software, but it’s manmade, useful, and solves a big problem for me (sloppy penmanship). As a concept, technology is very broad, even if we now tend to use the word technology to refer to the latest in computing or electronic gadgets. Technology comes in different forms, some of which are tangible (machines, devices, structures, etc.) and some of which aren’t (processes, programs, systems, etc.). 
				<p><p>
				Before moving onto structures specifically, let’s circle back to the concept of the “use of science” from the definition of technology. Do you actually have to know you are using science to create technology? Nope. People were creating wheels to move wagons long before scientists gave us a precise, mathematical explanation of how wheels reduce friction and therefore make it easier to move something.  Science is the study of the natural world through observation and experimentation. Through science we seek to understand the underlying principles of why things work the way they do, which explains why our ability to create technology grows as our knowledge of science has grown. Science and technology go hand in hand. With that brief introduction to technology, we turn to structures, the first of the two types of technology we'll explore in this intro to engineering.
				<p><p>
					
				<h5><a id="AStructure"><span class="sectionheader">A structure is something that is load bearing.</span></a></h5> 
				As you read this website, you are likely in a building, sitting in a chair of some sort, possibly with your computer on a table in front of you. That’s five bits of technology right in that one sentence – the building, chair, table, computer and website. We’ll get to computers and websites in the machines and computing sections but the focus of this section is on things like buildings, chairs, and tables, which are structures. The word structure can refer to many things, from social structures to molecular structures. At its broadest definition, a structure is something with parts arranged in a particular way. From an engineering perspective, a structure is something that is load bearing, which means it either supports or resists a load or does both at the same time.
				<p><p>
				<div class="row-fluid">
					<div class="span6">
					Load is another word for force, and different structures are designed to hold up with different forces being exerted on them. For example a bridge is designed to support the weight of the vehicles and people crossing it and also to resist the force of the wind blowing against it. A bridge or maybe a skyscraper may have been one of the first things you thought of when you first read the word structure. However, as mentioned above, structures also include items like tables and chairs, which have a lot fewer parts and have much less at stake if they fail.
					</div>
					<div class="span6">
				
				<%= image_tag("pics/GoldenGateBridge.jpg", :alt => "Golden Gate Bridge", :class => 'picpadding') %>
				
					</div>
				</div>
				<p><p>
				<h5><a id="Structures"><span class="sectionheader">Structures are either under tension, compression, or both forces at the same time.</span></a></h5>
				A force is a push or pull on an object resulting from its interaction with another object.  When dealing with structures, a force that is a push creates compression. A force that is a pull creates tension. To understand these forces, let's use the chair you are sitting in as an example. Before you sat on it, the chair was already supporting a load, as the chair legs had to support the weight of the seat without collapsing. This intrinsic weight of the structure is called the dead load. The chair is designed to bear both its dead load and the weight of your body, which in this example is the live load, or non-intrinsic weight. When you sat down in the chair, you exerted an additional force on the chair, a push generated by your weight (the gravitational force on your body) that put additional compression on the chair. 
				
				In this instance, it's easy to see that the chair is under compression. Slightly harder to visualize is that the chair is also under tension, which means some part of the chair is being pulled. Imagine that your chair has a cushion. When you sit down on the cushion, you push it down, which stretches out the bottom of the cushion. So the top of the cushion is under compression and the bottom is under tension. This is true of the seat of your chair regardless of whether or not it has a cushion; it’s just easier to visualize with a cushion. This ability to bend, or deflect, is called elasticity, and all structures and materials have some degree of it. The materials and design you choose for your structure will largely depend on the type and degrees of forces it has to withstand, and therefore the appropriate amount of elasticity it must have. This ability to deflect is what allow structures to exert the equal and opposite force which allows them to stay up. 
			    
				The ability of structures to bear loads hinges on both their design and the materials they are made out of. Sometimes the materials have a bearing on comfort - for example a chair with some kind of cushion is typically more comfortable than a chair that is just metal or wood. 
				
				Newton's third law of motion tells us, that for every force, there must be an equal and opposite force. That means that the chair must be exerting an equal force on you. If the chair didn't exert an equal force, you would either fall down (if it didn't have enough force) or fly up (if it was exerting more force). One question is how is the chair able to hold you up? Well you know Harder to visualize is that the chair is also exerting an equal and opposite force against you; the chair is pulling you up with the same force with which you are pushing it down.  This explanation is Newton's third law of motion, which says that for every force there is an equal and opposite force, but it doesn't tell you <i>how</i> the chair exerts the force. 
				
A force is  a push (compression) or a pull (tension). When you sit down on a chair, the chair is under compression - the legs get a little shorter.  When you sit down on a swing, that swing is under tension, as it the chains are being pulled to hold you up - the chains get a little longer.
A beam is a horizontal piece of a structure held in place by supporting columns or in the case of the swing, supporting chains. The horizontal pieces of structures that are being supported are under both compression and tension. Bending is compression and tension. 
structures stay up because they exert and equal and opposite force on the load. You need materials that are strong in, compression, tension, or both depending on what you are making.
All materials must have elasticity. They bend under load, but would return to normal if the load was removed.  
structures are able to exert that equal and opposite force by stretching (if pulled) or contracting (if pushed), which is called elasticity or the ability to deflect and then return to it's original shape. 
The ability to deflect is a charateristic not only of the structure, but of the materials with which it is made as well
the materials and design you choose for your structure will depend on the forces that will be exerted on it.				
				<p><p>

				<h5><a id="Many"><span class="sectionheader">Many of the structures that are a core part of our every day lives have been around for millennia.</span></a></h5>
				There is nothing recent about people using tables, chairs, buildings, bridges, dams, and roads. The first structures built by man’s ancient ancestors were shelters made of materials like wood and animal bones and skins. Hunter Gatherers to Farming, permanent shelters, and as people started living closer together and civilizations developed, people needed infrastructure in addition to buildings to maintain access to clean water, facilitate communication and travel, and deal with sewage and waste, all of which are still issues in the modern world. What has changed over the years are the methods and materials with which we build structures.
				<p><p>
				The oldest, tallest structure is the Great Pyramid of Giza, which was completed around 2560 BCE. It loomed over the ancient world at an impressive 481 feet (146.5 m), and was built of stone. Interesting the tallest structure in the world built before the industrial revolution was the Washington monument which was also made of stone.  Completed in 1884, it stands 555 feet (169 m) tall. A 15% gain in height in 4,444 years. The tallest building in the world today is the Burg Khalifa in Dubai. It was completed in 2009 and stands 2,722 feet (829.8 m); a 390% gain in height over the Washington Monument in just 125 years. 
				<p><p>
				For example, steel has been around for over 4,000 years, but a cost-effective method for creating steel didn’t exist until 1858 when Henry Bessemer patented his XXX among other inventions before the construction of the first buildings over 15 stories became both economically feasible and desirable (can you imagine carrying groceries up 16 stories?). It took the invention of the safety elevator in 1859 by Elisha Otis. (THESE DATES ARE WRONG), to make tall buildings feasible.
	</div>				
	</div>				
	</div> <!--span7-->		

	<div class="span2">			
		<br><br>
		<%= link_to image_tag("facts/women20pctCS.png", :alt => "Women hold only 20% of computer science jobs"),   research_path %>
		<hr>

		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->

		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>						
		</div> <!--row-->	

	</div> <!--span3-->

</div>	<!--row-->
</div>