<% provide(:title, 'Engineering Resources for Kids: 2025 Labs') %>
<% provide(:description, 'Useful resources that you can use to expose kids to Engineering. They include Web Resources, Toys and Games, Camps and Events, Awards and Scholarships, and Books.') %>

<div class="row-fluid">

	<div class="span2">
		<%= render "static_pages/resourcesnav" %>
	</div>

	<div class="span7">
		<h2>Resources</h2>
		This section contains references to useful resources that you can use to expose kids to Engineering. Those resources include: 
		</br>
		</br>
		<% @resource_types.each do |resource_type| %>
		<%= link_to resource_type.r_type,   resource_type.r_path %> <%=resource_type.description %>
		
		</br>
		</br>

		<% end %>

		
		Please let us know what additional resources you would like to see!  
		</br>
		</br>  
		<a href="mailto:info@2025labs.com?Subject=Suggestion%20For%20Web%20Resources" target="_top"><%= image_tag("pics/resource_suggestion.png", :alt => "suggest a resource", :class =>"center") %></a>
		
	</div> <!--span8-->	

	<div class="span3">	
		<div class="row-fluid">
			<br><br>
			<%= link_to image_tag("facts/engrspec_gender.png", :alt => "The three most common Engineering Specializations are mechanical, civil, and electrical. However women gravitate toward environmental, biomedical and chemical. Mechanical and electrical are near the bottom for women"),   research_path %>
			<hr>
		</div> <!--row-->
		
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->


		<div class="row-fluid" style="text-align:center">
			<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=2025labs-20&o=1&p=14&l=ur1&category=toysandgames&banner=1KGQQG9H192Y57XBM082&f=ifr&linkID=PSNNEUPXGDEXGILS" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
			
		</div> <!--row-->	
	</div> <!--span3-->		
</div>	<!--row-->
