<% provide(:title, 'Resources') %>

<div class="row-fluid">

	<div class="span2">
		<%= render "static_pages/resourcesnav" %>
	</div>

	<div class="span7">
		<h2>Resources</h2>
		This section contains references to useful resources that you can use to expose kids to Engineering. Those resources include: 
		</br>
		</br>
		<% @resource_types.each do |resource_type| %>
		<%= link_to resource_type.r_type,   resource_type.r_path %> <%=resource_type.description %>
		
		</br>
		</br>

		<% end %>

		
		Please let us know what additional resources you would like to see!  
		</br>
		</br>  
		<a href="mailto:info@2025labs.com?Subject=Suggestion%20For%20Web%20Resources" target="_top"><%= image_tag("pics/resource_suggestion.png", :alt => "suggest a resource", :class =>"center") %></a>
		
	</div> <!--span8-->	

	<div class="span3">	
		<div class="row-fluid">
			<br><br>
			<%= link_to image_tag("facts/engrspec_gender.png", :alt => "The three most common Engineering Specializations are mechanical, civil, and electrical. However women gravitate toward environmental, biomedical and chemical. Mechanical and electrical are near the bottom for women"),   research_path %>
			<hr>
		</div> <!--row-->
		
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->


		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/mediumad" %>	
		</div> <!--row-->	
	</div> <!--span3-->		
</div>	<!--row-->
