<% provide(:title, 'Web Resouces') %>

<div class="row-fluid">
	
	<div class="span2">
		<div class="row-fluid">
			<div class="span12">
				<%= render "static_pages/resourcesnav" %>
			</div>
		</div>	
	</div>
	
	
    <div class="span7">
		<% @resource_type.each do |resource_type| %>
		<h2> <%= resource_type.r_type.html_safe%> </h2>
		<%= resource_type.description.html_safe%><br><br>
		<% end %>
		
		<% @resources.each do |resource| %>
		<div class="row-fluid">
			<div class="span3">
				<%= link_to image_tag(resource.engineering_process),   engineering_process_path %>
				<%= link_to image_tag(resource.machines),   machines_path %>
				<%= link_to image_tag(resource.energy),   energy_path %>
				<%= link_to image_tag(resource.computing),   computing_path %>
				<p><%= resource.ages %>	
			</div>

			<div class="span9">
				<span class="colortxt2"><%=resource.title.html_safe %></span>
				<%=resource.description.html_safe %>			
			</div> <!--span9-->	
		</div><!--row-->	

		<div class="row-fluid">
			<div class="span12">
			</div> <!--span12-->	
		</div> <!--row-->
		<% end %>
		
		<a href="mailto:info@2025labs.com?Subject=Suggestion%20For%20Web%20Resources" target="_top"> <img class="center"src="images/resource_suggestion.png"> </a>
						
    </div> <!--span7-->	
		
	<div class="span3">	
		<div class="row-fluid">
			<br><br>
			<a href="research.html"> <img class="rounded" src="/assets/facts/women7pctCIOs.png"  alt="demo stats"> </a>
			<hr>
    	</div> <!--span12-->

        <div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->

		<div class="row-fluid">
			<div class="span12" style="text-align:center">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-2408047913757155";
				/* right_column */
				google_ad_slot = "7631510629";
				google_ad_width = 160;
				google_ad_height = 600;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>				
			</div> <!--span12-->
		</div> <!--row-->
	</div> <!--span3-->		
</div>	<!--row-->