<% provide(:title, 'Research on Engineering Demographics, Income, Gender, and Race: 2025 Labs') %>
<% provide(:description, 'Research on Engineering Demographics, Income, Gender, and Race. For example, women comprise 18% of Engineering majors and only 7% of corporate CIOs.') %>

<div class="row-fluid">
	<div class="span12">
		<h2>Research</h2>
			<p>Below are a series of articles with data regarding engineering demographics, trends, engineering occupational outlook, factors that influence a decision to pursue engineering, etc. In addition, we have started a couple of dashboards on the state of diversity in engineering, our <%= link_to "Gender Diversity Dashboard",   dashboard_path %>, as well as a  our <%= link_to "Race/Ethnicity Diversity Dashboard",   rdashboard_path %>. 
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
	</div>
</div>

<div class="row-fluid">
	<div class="span2">
		<%= image_tag("logos/attitudes.png") %> Education
	</div> <!--span2-->
	
	<div class="span2">
		<%= image_tag("logos/gender.png") %> Gender
	</div> <!--span2-->	
	
	<div class="span2">
		<%= image_tag("logos/race.png") %> Race/Ethnicity
	</div>
	
	<div class="span2">
		<%= image_tag("logos/attitudes.png") %> Social Factors
	</div> <!--span2-->	
	
	<div class="span2">
		<%= image_tag("logos/employment.png") %> Employment
	</div> <!--span2-->	
</div> <!--row-->	

<div class="row-fluid">
	<div class="span12">
	</div>
</div>


<div class="row-fluid">
	<div class="span9">
		<% @articles.each do |article| %>
		<div class="row-fluid">
			<div class="span1">
				<%= image_tag(article.education) %>
				<%= image_tag(article.gender) %>
				<%= image_tag(article.race) %>
				<%= image_tag(article.attitudes) %>
				<%= image_tag(article.employment) %>
			</div><!--span1-->
	
			<div class="span1">
				<%= image_tag(article.source_logo) %>
			</div><!--span2-->

    		<div class="span10">

				<span class="colortxt2"><%=article.title.html_safe%></span>
				<%=article.summary.html_safe %>	
			</div> <!--span10-->
		</div><!--row-->
		
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
		
		<% end %>
		

		
		<a href="mailto:info@2025labs.com?Subject=Suggestion%20For%20Web%20Resources" target="_top"><%= image_tag("pics/resource_suggestion.png", :alt => "suggest a resource", :class =>"center") %></a>
		
		
			
		
		
	</div>	<!--span9-->
		
	<div class="span3">
		<div class="row-fluid">
			<%= link_to image_tag("facts/sciedu.png", :alt => "Science is taught daily in just one in five classrooms in the US"),   research_path %>
			<hr>
		</div> <!--row-->
			
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->

		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->
		
	</div> <!--span3-->
</div><!--row-->
	


