<div class="row-fluid">
	<div class="span12">
		<h2>Dashboard</h2>
		
		Gender equity dashboard - more to come. 
	</div>
</div>

<div class="row-fluid">

	<div class="span6">
		<div class="cycle-slideshow"
		    data-cycle-fx="fade"
		    data-cycle-timeout=0
		    data-cycle-prev="#prev"
		    data-cycle-next="#next"
		    >
	
			
		    <%= image_tag("Data_Dashboard/APCSTestTakers2.png") %>
		    <%= image_tag("Data_Dashboard/APCSTestTakersPercent.png") %>
		    <%= image_tag("Data_Dashboard/BSAllEngineering.png") %>
		    <%= image_tag("Data_Dashboard/MastersEngineering.png") %>
			<%= image_tag("Data_Dashboard/DoctoralEngineering.png") %>
			<%= image_tag("Data_Dashboard/EngineeringFacluty.png") %>
			<%= image_tag("Data_Dashboard/AngelFunding.png") %>
			<%= image_tag("Data_Dashboard/FemaleAngelInvetsors.png") %>
			<%= image_tag("Data_Dashboard/PatentsPieCharts.png") %>
			<%= image_tag("Data_Dashboard/PatentsPerYear.png") %>
		</div>

		<div class="center">
		    <a href=# id="prev">Prev</a> 
		    <a href=# id="next">Next</a>
		</div>
	</div>
</div>

