<% provide(:title, 'Engineering Camps and Events for Kids: 2025 Labs') %>
<% provide(:description, 'This page includes camps and events targeted to underserved communities and underrepresented demographics. This is not meant to be an exhaustive list of all camps related to Engineering and Computer Science, although we may include some particularly noteworthy ones, or some of our favorites.') %>

<div class="row-fluid">
	

	<div class="span2">
		<div class="row-fluid">
			<div class="span12">
				<%= render "static_pages/resourcesnav" %>
			</div>
		</div>	
	</div>
	
	
    <div class="span7">
		<% @resource_type.each do |resource_type| %>
		<h2> <%= resource_type.r_type.html_safe%> </h2>
		<%= resource_type.description.html_safe%><br><br>
		<% end %>
		
		<div class="row-fluid">
			<div class="span3">
				<b> Ages and Locations </b>
			</div>
				
			<div class="span9">
				<b> Camp or Event </b>
			</div>
		</div>
		
		<% @resources.each do |resource| %>
		<div class="row-fluid">
			<div class="span3">
				<p><%= resource.ages %><br>
				<%= resource.locations %>
			</div>

			<div class="span9">
				<span class="colortxt2"><%=resource.title.html_safe %></span>
				<%=resource.description.html_safe %>			
			</div> <!--span9-->	
		</div><!--row-->	

		<div class="row-fluid">
			<div class="span12">
			</div> <!--span12-->	
		</div> <!--row-->
		<% end %>
		
		In addition to the above list, here are a few more camps we find noteworthy. In California, we like <a href="http://www.galileo-camps.com/" target="_blank">Camp Galileo</a>, which is a highly-regarded series of summer camps oriented around the ideas of innovation, invention, and creativity. They do offer financial aid for families that need it. They also have partner camps with the <a href="http://summercamps.thetech.org/" target="_blank">Tech Museum of Innovation</a> and <a href="http://www.chabotspace.org/camp.htm" target="_blank">Chabot Space and Science Center</a>.  The Tech partner camps (for rising 4th-8th graders) include topics such as circuits, video game design, programming, robotics, filmmaking, etc., while the Chabot camps (3rd-7th grades) are focused on earth and space science. <p><p>There are also virtual <a href="http://makezine.com/maker-camp/" target="_blank">Maker Camps on Google+</a> for teens put on by Make: magazine (founders of the Maker Faire event series). They seem to have fairly regular &#8220;camp&#8221; events, not just in the summer. Kids would need a Google+ profile to participate. As parents of younger kids, we confess to being uncomfortable with the idea of kids on social networking sites. However, you can participate with your kids (in which case, you could participate before they are teenagers). Or, it might be a good time to teach them about Internet safety anyways.<p><p> 
		
		<a href="mailto:info@2025labs.com?Subject=Suggestion%20For%20Web%20Resources" target="_top"><%= image_tag("pics/resource_suggestion.png", :alt => "suggest a resource", :class =>"center") %></a>
						
    </div> <!--span7-->	
		
	<div class="span3">	
		<div class="row-fluid">
			<br><br>
			<%= link_to image_tag("facts/black4pctEngr.png", :alt => "Only 4% of undergraduate engineering students are African American"),   research_path %>
			<hr>
    	</div> <!--span12-->

        <div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->

		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->
	</div> <!--span3-->	
		
</div>	<!--row-->
