<div class="container-fluid">
<div class="slidearea" style="padding-bottom: 20px; padding-left: 10px; padding-right: 10px;">
<% provide(:title, 'Engineering Toys and Games for Kids: 2025 Labs') %>
<% provide(:description, 'Engineering toys and games for kids that can be used to introduce kids to Engineering. Some of them are gender-neutral, and some are focused on girls specifically.') %>

<div class="row featurette grid-divider">

	<div class="col-sm-2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
				<span class="visible-sm visible-md visible-lg">
					<%= render "static_pages/resourcesnav" %>
					</span>
				</div>
			</div>
		</div>
	</div>
	
    <div class="col-sm-7">
    	<div class="col-padding1">
		<% @resource_type.each do |resource_type| %>
		<h2> <%= resource_type.r_type.html_safe%> </h2>
		<%= resource_type.description.html_safe%><p><p>
		We've included links to shop for these toys online. We like Amazon for the reviews, because parents share their experiences in great detail. Besides, we do earn a tiny little bit of money for any sales that occur through this channel, which will help us fund more of this research and content! <br><br>
		
		<% end %>
		
		<% @resources.each do |resource| %>
		<div class="row">
			<div class="col-sm-2">
				<% unless resource.engineering_process.blank? %>
					<%= link_to image_tag(resource.engineering_process, :class => 'resourcebutton'),   engineering_process_path %>
				<% end %>
				
				<% unless resource.materials.blank? %>
					<%= link_to image_tag(resource.materials, :class => 'resourcebutton'),   materials_path %>
				<% end %>
				
				<% unless resource.structures.blank? %>
					<%= link_to image_tag(resource.structures, :class => 'resourcebutton'),   structures_path %>
				<% end %>
				
				<% unless resource.machines.blank? %>
					<%= link_to image_tag(resource.machines, :class => 'resourcebutton'),   machines_path %>
				<% end %>
				
				<% unless resource.energy.blank? %>
					<%= link_to image_tag(resource.energy, :class => 'resourcebutton'),   energy_path %>
				<% end %>
				
				<% unless resource.computing.blank? %>
					<%= link_to image_tag(resource.computing, :class => 'resourcebutton'),   computing_path %>
				<% end %>
				<p><%= resource.ages %>	
			</div>
			
			<div class="col-sm-10">
				<% unless resource.title.blank? %>
					<span class="colortxt2"><%=resource.title.html_safe %></span>
				<% end %>
				<%= resource.description.html_safe %>
				<p>
				<!--<% if resource.buy_link %>
					<a href= <%= resource.buy_link%> target="_blank"><%= image_tag("logos/amazon_buy.gif") %></a><%= resource.amazon_img.html_safe %> 
				<% end %>	-->	
			</div> <!--span9-->	
		</div><!--row-->	

		<div class="row">
			<div class="col-sm-12">
			</div> <!--col-sm-2-->	
		</div> <!--row-->
		<% end %>
		
		<a href="mailto:info@2025labs.com?Subject=Suggestion%20For%20Web%20Resources" target="_top"><%= image_tag("pics/resource_suggestion.png", :alt => "suggest a resource", :class =>"center") %></a>
		</div>				
    </div> <!--col-sm-7-->	
		
	<div class="col-sm-3">	
		<div class="col-padding2">
		<span class="visible-sm visible-md visible-lg">
		<div class="container-fluid">
				<div class="row">

			
			<div class="facts2"><a class="facts1" <%= link_to "financial benefits and the ability to solve world problems",    research_path %></a></div>
	
			<br>
			A 2011 Intel survey highlighted that knowledge of the financial benefits and the ability to solve world problems were key influences that changed the perceptions of teens about what it means to be an Engineer and increased their interest in an Engineering career

			
			
			<%#= link_to image_tag("facts/intelmoneymeaning.png", :alt => "Financial benefits and the ability to solve world programs are key influences in teens perceptions of engineering"),   research_path %>
			<hr>
    			</div> <!--row-->
    		</div>
        	<div class="row">
			<div class="col-sm-12">				
			</div> <!--col-sm-12-->
			</div> <!--row-->
		
			<div class="row" style="text-align:center">
			<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=2025labs-20&o=1&p=14&l=ur1&category=stem&banner=09PFBRBM7S1P6G18CPG2&f=ifr&linkID=UPKW3XOG5NQIOX4H" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
			
			</div> <!--row-->
			</span>
	</div> <!--col-sm-3-->	
</div>
</div>		
</div>	<!--row-->
</div>
