<% provide(:title, 'Engineering for Kids Internet Resources: 2025 Labs') %>
<% provide(:description, 'Links to useful engineering related web sites, which includes some educational (and entertaining!) videos, games and activities.') %>

<div class="row-fluid">
	

	<div class="span2">
		<div class="row-fluid">
			<div class="span12">
				<%= render "static_pages/resourcesnav" %>
			</div>
		</div>	
	</div>
	
	
    <div class="span7">
		<% @resource_type.each do |resource_type| %>
		<h2> <%= resource_type.r_type.html_safe%> </h2>
		<%= resource_type.description.html_safe%><br><br>
		<% end %>
		
		<% @resources.each do |resource| %>
		<div class="row-fluid">
			<div class="span3">
				<% unless resource.engineering_process.blank? %>
					<%= link_to image_tag(resource.engineering_process),   engineering_process_path %>
				<% end %>

				<% unless resource.machines.blank? %>
					<%= link_to image_tag(resource.machines),   machines_path %>
				<% end %>

				<% unless resource.energy.blank? %>
					<%= link_to image_tag(resource.energy),   energy_path %>
				<% end %>

				<% unless resource.computing.blank? %>
					<%= link_to image_tag(resource.computing),   computing_path %>
				<% end %>
				
				<p><%= resource.ages %>	
			</div>

			<div class="span9">
				<span class="colortxt2"><%=resource.title.html_safe %></span>
				<%=resource.description.html_safe %>			
			</div> <!--span9-->	
		</div><!--row-->	

		<div class="row-fluid">
			<div class="span12">
			</div> <!--span12-->	
		</div> <!--row-->
		<% end %>
		
		<a href="mailto:info@2025labs.com?Subject=Suggestion%20For%20Web%20Resources" target="_top"><%= image_tag("pics/resource_suggestion.png", :alt => "suggest a resource", :class =>"center") %></a>
						
    </div> <!--span7-->	
		
	<div class="span3">	
		<div class="row-fluid">
			<br><br>
			<%= link_to image_tag("facts/women7pctCIOs.png", :alt => "Only 7% of corporate CIOs are women"),   research_path %>
			<hr>
    	</div> <!--span12-->

        <div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->

		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->
	</div> <!--span3-->	
		
</div>	<!--row-->
