<div class="container-fluid" style="padding-left: 30px; padding-right: 30px; padding-top: 0px;">

	<div class="footer" >
		<div class="row featurette" >
			<div class="slidearea-footer">
				<div class="col-sm-3" style="text-align:left">
					 <%= link_to image_tag("2025_logo.png", :alt => "2025Labs Logo"),   root_path %>
					 <br>
					 <span class="muted">Copyright &copy; 2016, 2025 Labs</span>
				</div> <!--col-sm-3-->


				<div class="col-sm-3" style="text-align:left">
					<a class="footheader" href="http://www.2025consulting.com" target="_blank">2025 Consulting</a><br>
  					<a class="footsub" href="http://www.2025consulting.com/mgmtcons" target="_blank">Management Consulting</a><br>
  					<a class="footsub" href="http://www.2025consulting.com/pm" target="_blank">Program Management</a><br>
  					<a class="footsub" href="http://www.2025consulting.com/smallbiz" target="_blank">Small Business</a><br>
  					<a class="footsub" href="http://www.2025consulting.com/projects" target="_blank">Projects</a><br>
				</div>	<!--col-sm-3-->


				<div class="col-sm-3" style="text-align:left">
					<a class="footheader" <%= link_to "2025 Labs",    root_path %></a><br>
  					<a class="footsub" <%= link_to "Community Home",    parents_home_path %></a><br>
  					<a class="footsub" <%= link_to "Resources",    resources_path %></a><br>
  					<a class="footsub" <%= link_to "Research",    research_path %></a><br>
  					<a class="footsub" <%= link_to "Diversity Dashboard",    dashboard_path %></a><br>}  %></a>
				</div><!--col-sm-3-->

				<div class="col-sm-3" style="text-align:left">
					<a class="footheader" href="http://www.2025kids.com" target="_blank">2025 Kids</a><br>
  					<a class="footsub" href="http://www.2025kids.com/catagories/Engineering%20Process" target="_blank">Engineering Processes</a><br>
  					<a class="footsub" href="http://www.2025kids.com/catagories/Materials" target="_blank">Materials</a><br>
  					<a class="footsub" href="http://www.2025kids.com/catagories/Structures" target="_blank">Structures</a><br>
  					<a class="footsub" href="http://www.2025kids.com/catagories/Machines" target="_blank">Machines</a><br>
  					<a class="footsub" href="http://www.2025kids.com/catagories/Energy" target="_blank">Energy</a><br>
  					<a class="footsub" href="http://www.2025kids.com/catagories/Computing" target="_blank">Computing</a><br>
				</div><!--col-sm-3-->
			</div><!--row-->
			</div>
		</div> <!--container-->
</div> <!--footer-->
