
<div class="container-banner">
 <div class="row", style= "padding-top:10px;">			
	<div class="logo_mainbkgd">
			<span class="banner-top-2025"> Welcome to 2025 Labs</span>
	</div> <!-- background -->
</div>	
</div>

<div class="container-header">
<div class="navbar navbar-2025">	<!--nav class starts here-->
	<div class = "container-fluid" > <!--container-fluid -->

		<div class="navbar-header"> 
			<%= link_to image_tag("2025_labs_no-tagline_300x100.png", 
			:class=> 'navbar-brand'), root_path %>
			<button type="button" class="navbar-toggle collapsed" data-toggle	="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded ="false">
				<span class="sr-only"> Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">

				<li class="<%= 'active' if current_page?(root_path) %>">
					<%= link_to "Home", root_path %> 
				</li>
				
				<li><a href="http://www.2025kids.com" target="_blank">Kids Site</a>
				</li>

				<li class="dropdown">
					<a href="#"  class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Web Resources",   resources_web_resources_path, html_options = {:alt=>"Engineering for Kids Web Resources"}  %>
							</li>
							<li><%= link_to "Toys and Games",    resources_toys_and_games_path, html_options = {:alt=>"Engineering for Kids Toys and Games"}  %>
							</li>
							<li><%= link_to "Camps and Events",    resources_camps_and_events_path, html_options = {:alt=>"Engineering for Kids Camps and Events"}  %>
							</li>
							<li><%= link_to "Scholarships",    resources_awards_scholarships_path, html_options = {:alt=>"Engineering for Kids Scholarships"}  %>
							</li>
							<li><%= link_to "Books",    resources_books_path, html_options = {:alt=>"Engineering for Kids Books"}  %>
							</li>
						</ul>
				</li>

				<li class="dropdown">
						<a href="#"  class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%=link_to "Research Articles", research_path%>
							</li>
							<li><%=link_to "Dashboard", dashboard_path%>
							</li>
						</ul>
				</li>
				
				<!-- <li class="dropdown"> -->
						<!-- <a href="#"  class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a> -->
						<!-- <ul class="dropdown-menu"> -->
							<!-- <li><%=link_to "About Us", about_us_path%> -->
							<!-- </li> -->
							<!-- <li><%=link_to "Contact", contact_path%> -->
							<!-- </li> -->
							<!-- <li><%=link_to "Blog", blog_path%> -->
							<!-- </li> -->
						<!-- </ul> dropdown menu  -->
					<!-- </li> dropdown -->


			</ul> <!--nav navbar-nav navbar-right -->
		</div> <!-- navbar-collapse-->
	</div> <!--container-fluid -->
</div> <!--nav -->
</div>




					