<div class="banner">
	<a href="https://www.surveymonkey.com/s/CMZXNX8" style="color:white" target="_blank"><i>Take the Survey:</i> Profiles of Women in Engineering and Computer Science</a>
</div>

<div class="container-fluid" style="padding-top:10px">		
	<a href="home.html"><img src="/assets/PlumLogo.png" alt="2025 Labs logo"></a>

	<a href="https://twitter.com/2025Labs" target="_blank"><img class="socialmedia" src="/assets/twitterbird.png" alt-"twitter logo"></a>

	<div class="navbar navbar-static-top"> 
		<nav>    
				<ul class="nav pull-right">
			      	<li><%= link_to "HOME",    root_path %>
						<ul>
							<li><%= link_to "ABOUT US",    about_us_path %></li>
							<li><%= link_to "CONTACT",    contact_path %></li>
						</ul>
					</li>
					<li><%= link_to "GET STARTED",    get_started_path %></li>
					<li><%= link_to "INTRO TO ENGINEERING", intro_to_engineering_path %>
						<ul>
							<li><%= link_to "ENGINEERING PROCESS",    engineering_process_path %></li>
							<li><%= link_to "MACHINES",    machines_path %></li>
							<li><%= link_to "ENERGY",    energy_path %></li>
							<li><%= link_to "COMPUTING",    computing_path %></li>
						</ul>
					</li>
				    <li><%= link_to "RESOURCES",    '#' %>
						<ul>
							<li><%= link_to "WEB RESOURCES",    '#' %></li>
							<li><%= link_to "TOYS AND GAMES",    '#' %></li>
							<li><%= link_to "CAMPS AND EVENTS",    '#' %></li>
						</ul>
					</li>
					<li><%= link_to "RESEARCH",    articles_path %></li>
			    </ul>
		</nav>
	</div> <!--navbar-->
</div> <!--container-->