<div class="banner">
	<a href="https://www.surveymonkey.com/s/CMZXNX8" style="color:white" target="_blank"><i>Take the Survey:</i> Profiles of Women in Engineering and Computer Science</a>
</div>

<div class="container-fluid" style="padding-top:10px">		
	<a href="home.html"><img src="/assets/PlumLogo.png" alt="2025 Labs logo"></a>

	<a href="https://twitter.com/2025Labs" target="_blank"><img class="socialmedia" src="/assets/twitterbird.png" alt-"twitter logo"></a>

	<div class="navbar navbar-static-top"> 
		<nav>    
				<ul class="nav pull-right">
			      	<li><%= link_to "Home",    root_path %>
						<ul>
							<li><%= link_to "About Us",    about_us_path %></li>
							<li><%= link_to "Contact",    contact_path %></li>
						</ul>
					</li>
					<li><%= link_to "Get Started",    get_started_path %></li>
					<li><%= link_to "Intro to Engineering", intro_to_engineering_path %>
						<ul>
							<li><%= link_to "Engineering Process",    '#' %></li>
							<li><%= link_to "Machines",    '#' %></li>
							<li><%= link_to "Energy",    '#' %></li>
							<li><%= link_to "Computing",    '#' %></li>
						</ul>
					</li>
				    <li><a href="resources.html">Resources</a>
						<ul>
							<li><%= link_to "Web Resources",    '#' %></li>
							<li><%= link_to "Toys and Games",    '#' %></li>
							<li><%= link_to "Camps and Events",    '#' %></li>
						</ul>
					</li>
					<li><%= link_to "Research",    '#' %></li>
			    </ul>
		</nav>
	</div> <!--navbar-->
</div> <!--container-->