<div class="container-fluid" style="padding-top:10px">
	<%= link_to image_tag("PlumLogo.png", :alt => "2025 Labs Log"),   root_path %>	


	<a href="https://twitter.com/2025Labs" target="_blank"><%= image_tag("twitterbird.png", :alt => "twitter logo", :class =>'socialmedia') %></a>

	<div class="navbar navbar-static-top"> 
		<nav>    
				<ul class="nav pull-right">
			      	<li><%= link_to "HOME",    root_path %>
						<ul>
							<li><%= link_to "ABOUT US",    about_us_path %></li>
							<li><%= link_to "CONTACT",    contact_path %></li>
						</ul>
					</li>
					<li><%= link_to "GET STARTED",    get_started_path %></li>
					<li><%= link_to "INTRO TO ENGINEERING", intro_to_engineering_path %>
						<ul>
							<li><%= link_to "ENGINEERING PROCESS",    engineering_process_path %></li>
							<li><%= link_to "MACHINES",    machines_path %></li>
							<li><%= link_to "ENERGY",    energy_path %></li>
							<li><%= link_to "COMPUTING",    computing_path %></li>
						</ul>
					</li>
				    <li><%= link_to "RESOURCES",    resources_path %>
						<ul>
							<li><%= link_to "WEB RESOURCES",   resources_web_resources_path %></li>
							<li><%= link_to "TOYS AND GAMES",    resources_toys_and_games_path %></li>
							<li><%= link_to "CAMPS AND EVENTS",    resources_camps_and_events_path %></li>
							<li><%= link_to "AWARDS AND SCHOLARSHIPS",    resources_awards_scholarships_path %></li>
							<li><%= link_to "BOOKS",    resources_books_path %></li>
						</ul>
					</li>
					<li><%= link_to "RESEARCH",    research_path %></li>
			    </ul>
		</nav>
	</div> <!--navbar-->
</div> <!--container-->