
<div class="container-fluid" style="padding-top:10px">	
	<div class="row-fluid">
			<div class="span2">
			<%= link_to image_tag("2025Labs_logo_600.png", :alt => "2025Labs Logo"),   root_path %>
			</div>
			<div class="span8">
				<%= link_to image_tag("navgraphics/missionbanner.png", :alt => "2025Labs Mission"),   root_path %>
			</div>

			<div class="span2">
			<a href="https://twitter.com/2025Labs" target="_blank"><%= image_tag("twitter.png", :alt => "twitter logo", :class =>'socialmedia') %></a>
			<a href="https://www.pinterest.com/2025labs/" target="_blank"><%= image_tag("pinterest_logo.png", :alt => "pinterest logo", :class =>'socialmedia') %></a>
			<a href="https://www.youtube.com/channel/UCi2YUj1nfC4fHuB5VdCN3Kw" target="_blank"><%= image_tag("YouTube-social-square_red_29px.png", :alt => "YouTube logo", :class =>'socialmedia')%></a>
			<a href="https://facebook.com/2025Labs" target="_blank"><%= image_tag("facebook.png", :alt => "facebook logo", :class =>'socialmedia')%></a>
			</div>
		
</div>
<div id="navbar" class="navbar navbar-static-top" >
			<nav>  
				<ul class="nav pull-right">
			      	<li><%= link_to "HOME",    root_path %>
						<ul>
							<li><%= link_to "ABOUT US",    about_us_path %></li>
							<li><%= link_to "CONTACT",    contact_path %></li>
							<li><%= link_to "BLOG",    blog_path %></li>
						</ul>
					</li>
					<li><%= link_to "KIDS SITE",    "http://www.2025kids.com" %></li>
					
				    <li><%= link_to "RESOURCES",    resources_path %>
						<ul>
							<li><%= link_to "WEB RESOURCES",   resources_web_resources_path, html_options = {:alt=>"Engineering for Kids Web Resources"}  %></li>
							<li><%= link_to "TOYS AND GAMES",    resources_toys_and_games_path, html_options = {:alt=>"Engineering for Kids Toys and Games"}  %></li>
							<li><%= link_to "CAMPS AND EVENTS",    resources_camps_and_events_path, html_options = {:alt=>"Engineering for Kids Camps and Events"}  %></li>
							<li><%= link_to "SCHOLARSHIPS",    resources_awards_scholarships_path, html_options = {:alt=>"Engineering for Kids Scholarships"}  %></li>
							<li><%= link_to "BOOKS",    resources_books_path, html_options = {:alt=>"Engineering for Kids Books"}  %></li>

						</ul>
					</li>
					
					<li><%= link_to "RESEARCH",    research_path %>
						<ul style="right: -1px;">
							<li><%= link_to "RESEARCH ARTICLES",   research_path  %></li>
							<li><%= link_to "DASHBOARD",   dashboard_path, html_options = {:alt=>"Dashboards tracking Equity in Engineering"}  %></li>

						</ul>
					</li>
					

			    </ul>
			</nav><!--nav-->

	</div> <!--navbar-->
	
</div> <!--container-->