<div class="row-fluid", style= "padding-top:10px; ">			
	<div class="logo_mainbkgd">
			<span class="banner-top-2025" > Welcome to 2025 Labs</span>
	</div> <!-- background -->
</div>	

<div id="navbar" class="navbar navbar-2025-bs2" >
			<nav>  
				<ul class="nav pull-right">
			      	<li><%= link_to "HOME",    root_path %>
						<ul>
							<li><%= link_to "ABOUT US",    about_us_path %></li>
							<li><%= link_to "CONTACT",    contact_path %></li>
							<li><%= link_to "BLOG",    blog_path %></li>
						</ul>
					</li>
					<li><%= link_to "KIDS SITE",    "http://www.2025kids.com" %></li>
					
				    <li><%= link_to "RESOURCES",    resources_path %>
						<ul>
							<li><%= link_to "WEB RESOURCES",   resources_web_resources_path, html_options = {:alt=>"Engineering for Kids Web Resources"}  %></li>
							<li><%= link_to "TOYS AND GAMES",    resources_toys_and_games_path, html_options = {:alt=>"Engineering for Kids Toys and Games"}  %></li>
							<li><%= link_to "CAMPS AND EVENTS",    resources_camps_and_events_path, html_options = {:alt=>"Engineering for Kids Camps and Events"}  %></li>
							<li><%= link_to "SCHOLARSHIPS",    resources_awards_scholarships_path, html_options = {:alt=>"Engineering for Kids Scholarships"}  %></li>
							<li><%= link_to "BOOKS",    resources_books_path, html_options = {:alt=>"Engineering for Kids Books"}  %></li>

						</ul>
					</li>
					
					<li><%= link_to "RESEARCH",    research_path %>
						<ul style="right: -1px;">
							<li><%= link_to "RESEARCH ARTICLES",   research_path  %></li>
							<li><%= link_to "DASHBOARD",   dashboard_path, html_options = {:alt=>"Dashboards tracking Equity in Engineering"}  %></li>

						</ul>
					</li>
					

			    </ul>
			</nav><!--nav-->

	</div> <!--navbar-->
	
</div> <!--container-->
<br>