<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description=" content="<%= yield(:description) %>" >
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "bootstrap.js"%>
  <%= render 'layouts/shim' %>
  <%= favicon_link_tag asset_path 'favicon.ico' %>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-44164383-1']);
	  _gaq.push(['_setDomainName', '2025labs.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>
<body>
	<%#= render 'layouts/banner' if current_page?(root_path) %>
	
	<%= render 'layouts/header' %>
	
	<br>
	<div class="container-fluid">
		<%= yield %>

	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
